Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

ci(msvc): fix test step recompiling vendored deps
  .github/workflows/integration-msvc.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(msvc): add rust-cache and link with rust-lld
  .github/workflows/integration-msvc.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(msvc): fix test step recompiling vendored deps
  .github/workflows/integration-msvc.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: replace --nvim calls with --preset=nvim
  lux-lib/src/lua_installation/mod.rs
  nix/README.md
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/fetch-lux-deps.nix
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

refactor: replace --nvim calls with --preset=nvim (#1994)
  lux-lib/src/lua_installation/mod.rs
  nix/README.md
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/fetch-lux-deps.nix
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(exec): warn, don't fail if loading user tree fails in workspace
  lux-lib/src/operations/exec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(exec): warn, don't fail if loading user tree fails in workspace (#1996)
  lux-lib/src/operations/exec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(purge): don't error if loading the lockfile fails
  lux-cli/src/purge.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lockfile): auto-migrate lockfiles with default layout
  lux-lib/resources/test/lockfile-v1/tree.lock
  lux-lib/resources/test/lockfile-v1/workspace.lock
  lux-lib/src/lockfile/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(purge): don't error if loading the lockfile fails (#1997)
  lux-cli/src/purge.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

temp: more tests
  lux-lib/src/operations/vendor.rs
  lux-lib/tests/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

temp: extra tests
  lux-lib/src/build/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: reimplement vendor logic
  lux-cli/src/build.rs
  lux-cli/src/sync.rs
  lux-lib/src/fs/tokio.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/gen_luarc.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/pipeline/build.rs
  lux-lib/src/operations/pipeline/build_project.rs
  lux-lib/src/operations/pipeline/discover.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/emit_lockfile.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/reqwest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-cli): pass `--profile` value to config builder
  lux-cli/src/bin/lx.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: don't ignore `--profile` flag (#2001)
  lux-cli/src/bin/lx.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#2000)
  flake.lock
Owners: @mrcjkb, @teto

temp: extra tests
  lux-lib/src/build/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lockfile): auto-migrate lockfiles with default layout (#1998)
  lux-lib/resources/test/lockfile-v1/tree.lock
  lux-lib/resources/test/lockfile-v1/workspace.lock
  lux-lib/src/lockfile/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: reimplement vendor logic
  lux-cli/src/build.rs
  lux-cli/src/sync.rs
  lux-lib/src/fs/tokio.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/gen_luarc.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/pipeline/build.rs
  lux-lib/src/operations/pipeline/build_project.rs
  lux-lib/src/operations/pipeline/discover.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/emit_lockfile.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/reqwest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(BuildProject): only read project dependencies not all workspace dependencies
  lux-lib/src/operations/pipeline/build_project.rs
  lux-lib/tests/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: join `Build` to pipeline
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/pack.rs
  lux-lib/src/build/cmake.rs
  lux-lib/src/build/command.rs
  lux-lib/src/build/external_dependency.rs
  lux-lib/src/build/make.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/build/source.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/install_project.rs
  lux-lib/src/operations/pipeline/build.rs
  lux-lib/src/operations/pipeline/build_local.rs
  lux-lib/src/operations/pipeline/build_project.rs
  lux-lib/src/operations/pipeline/discover.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/emit_lockfile.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/tests/build.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: `lint` command reinstalling `luacheck` each time
  lux-lib/src/operations/exec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(outdated): don't resync the project
  lux-cli/src/outdated.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: remove `dyn` errors
  lux-lib/src/build/luarocks.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/pipeline/build.rs
  lux-lib/src/operations/pipeline/build_project.rs
  lux-lib/src/operations/pipeline/discover.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/install_packages.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: unify install_rockspec logic with new pipeline
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/pipeline/discover.rs
  lux-lib/src/operations/pipeline/install_packages.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/remote_package_db/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: collapse artifact types into single `Artifact`
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/emit_lockfile.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/pipeline/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: granularize BuildBehaviour
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/pack.rs
  lux-cli/src/uninstall.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/install/spec.rs
  lux-lib/src/operations/pipeline/build_local.rs
  lux-lib/src/operations/pipeline/install_packages.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/tests/build_workspace.rs
  lux-lib/tests/install.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: `reconcile` => `sync::frozen`
  lux-lib/src/drivers/sync/frozen.rs
  lux-lib/src/drivers/sync/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lockfile): use atomic writes to prevent corruption during multithreading
  lux-cli/src/build.rs
  lux-cli/src/doc.rs
  lux-cli/src/sync.rs
  lux-lib/src/build/cmake.rs
  lux-lib/src/build/command.rs
  lux-lib/src/build/external_dependency.rs
  lux-lib/src/build/make.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/build/source.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/fs/sync.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/operations/gen_luarc.rs
  lux-lib/src/operations/install_dependencies.rs
  lux-lib/src/operations/pack.rs
  lux-lib/src/operations/pipeline/build.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/emit_lockfile.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/tests/build.rs
  lux-lib/tests/build_workspace.rs
  lux-lib/tests/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: simplify `InstallWorkspaceDependencies`
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/install_dependencies.rs
  lux-lib/src/operations/pipeline/emit_lockfile.rs
  lux-lib/src/operations/pipeline/install_packages.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/update.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: route Project building through the same code as package building
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/install.rs
  lux-cli/src/pack.rs
  lux-cli/src/uninstall.rs
  lux-lib/src/build/cmake.rs
  lux-lib/src/build/command.rs
  lux-lib/src/build/external_dependency.rs
  lux-lib/src/build/make.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/build/source.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/install_dependencies.rs
  lux-lib/src/operations/install_project.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/pipeline/build.rs
  lux-lib/src/operations/pipeline/build_local.rs
  lux-lib/src/operations/pipeline/build_project.rs
  lux-lib/src/operations/pipeline/discover.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/emit_lockfile.rs
  lux-lib/src/operations/pipeline/install_packages.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/tests/build.rs
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: unify search and resolution into RemotePackageDB
  lux-lib/src/operations/pipeline/discover.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/install_packages.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/remote_package_db/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: parallelize resolve and build
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/pipeline/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: `RemotePackageDB` -> `PackageDB`
  lux-cli/src/add.rs
  lux-cli/src/outdated.rs
  lux-cli/src/search.rs
  lux-cli/src/update.rs
  lux-cli/src/upload.rs
  lux-lib/src/drivers/install_packages.rs
  lux-lib/src/drivers/sync/mod.rs
  lux-lib/src/lib.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/install_project.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/package/outdated.rs
  lux-lib/src/package_db/mod.rs
  lux-lib/src/pipeline/discover.rs
  lux-lib/src/pipeline/resolve.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/upload/mod.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!(resolve): do not reinstall already existing packages, rebuild project on source change
  lux-cli/src/build.rs
  lux-cli/src/run_lua.rs
  lux-cli/src/uninstall.rs
  lux-lib/src/hash.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/install_project.rs
  lux-lib/src/operations/pipeline/install_packages.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: lux-lua compilation
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: `EmitLockfile` -> `LockfileHandle`
  lux-lib/src/operations/pipeline/build.rs
  lux-lib/src/operations/pipeline/download_sources_and_hash.rs
  lux-lib/src/operations/pipeline/emit_lockfile.rs
  lux-lib/src/operations/pipeline/install_packages.rs
  lux-lib/src/operations/pipeline/install_workspace.rs
  lux-lib/src/operations/pipeline/mod.rs
  lux-lib/src/operations/pipeline/resolve.rs
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): force install unavailable packages (allows overwrites and prevents conflicting entrypoints by removing the old version of the package and replacing it with a new one)
  lux-lib/src/drivers/sync.rs
  lux-lib/src/drivers/sync/reconcile.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(TargetSet): use constructors instead of explicit construction
  lux-cli/src/build.rs
  lux-cli/src/pin.rs
  lux-cli/src/sync.rs
  lux-cli/src/workspace.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/drivers/sync.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/workspace/mod.rs
  lux-lib/tests/sync.rs
  lux-lua/src/operations.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
