Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(build/rust-mlua): drop `lib` prefix on Windows
  lux-lib/src/lua_rockspec/build/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/rust-mlua): drop lib prefix on Windows
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1455)
  flake.lock
Owners: @mrcjkb, @teto

feat(stylua): enable features for all lua versions + jit & luau
  Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(integration): re-enable luajit tests
  .github/workflows/integration-tests.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(stylua): enable features for all lua versions + jit & luau (#1470)
  Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: source editorconfig for stylua
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: allow passing relative paths to `lx fmt`
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: add comment
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

review: use `std::path::absolute` instead of `join`
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

remove unnecessary `as_ref()`
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

review: drop comment
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

review: propogate errors from `path::absolute`
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1474)
  flake.lock
Owners: @mrcjkb, @teto

feat(fmt): source editorconfig for stylua (#1472)
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

review: remove closure
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(fmt): allow specifying relative paths (#1473)
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(http): set User-Agent header on outbound HTTP requests (#1479)
  lux-lib/src/lib.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: add PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: make lib constants `pub(crate)`
  lux-lib/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(sync): flipped expected/got in integrity mismatch error
  lux-lib/src/lockfile/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: set user agent header for web requests
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lib.rs
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/reqwest.rs
  lux-lib/src/upload/mod.rs
  lux-lua/src/config.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(fmt): source editorconfig for emmylua-codestyle
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(fmt): source editorconfig for emmylua-codestyle (#1483)
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1482)
  flake.lock
Owners: @mrcjkb, @teto

feat(rockspec): support non-lua file extensions in `install.lua`
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(rockspec): support non-lua file extensions in `install.lua` (#1487)
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update Cargo.lock
  Cargo.lock
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update Cargo.lock (#1491)
  Cargo.lock
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: set user agent header for web requests (#1481)
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lib.rs
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/reqwest.rs
  lux-lib/src/upload/mod.rs
  lux-lua/src/config.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(readme): add multi-tree support to comparison table
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1499)
  flake.lock
Owners: @mrcjkb, @teto

refactor(format): use emmylua config from project root
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(format): use emmylua config from project root (#1504)
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(layout)!: override `src` & `lib` directories with `--nvim` option
  lux-lib/src/config/tree.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(format): luafmt backend
  Cargo.lock
  README.md
  lux-cli/Cargo.toml
  lux-cli/src/bin/lx.rs
  lux-cli/src/format.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(format): luafmt backend (#1505)
  Cargo.lock
  README.md
  lux-cli/Cargo.toml
  lux-cli/src/bin/lx.rs
  lux-cli/src/format.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update emmylua_* dependencies
  Cargo.lock
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update Cargo.lock
  Cargo.lock
  flake.lock
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat: support multiple workspaces per project
  README.md
  lux-lib/resources/test/sample-projects/multi-project/.gitignore
  lux-lib/resources/test/sample-projects/multi-project/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/bar/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/bar/src/main.lua
  lux-lib/resources/test/sample-projects/multi-project/projects/foo/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/foo/src/main.lua
  lux-lib/src/workspace/mod.rs
  lux-lib/src/workspace/workspace_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
