Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

refactor(progress): break up into multiple modules
  Cargo.lock
  lux-lib/src/progress.rs
  lux-lib/src/progress/client.rs
  lux-lib/src/progress/layer.rs
  lux-lib/src/progress/mod.rs
  lux-lsp/src/main.rs
  lux-lsp/src/tempfile.rs
  lux-lua/src/progress.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: altered error messages
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/progress/client.rs
  lux-lib/src/progress/mod.rs
  lux-lsp/lux.toml
  lux-lua/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: lux-lsp for progress reports
  .github/merge_changelogs.py
  Cargo.lock
  Cargo.toml
  lux-cli/src/bin/lx.rs
  lux-lib/Cargo.toml
  lux-lib/src/lib.rs
  lux-lib/src/progress.rs
  lux-lsp/Cargo.toml
  lux-lsp/lux.toml
  lux-lsp/src/main.rs
  lux-lsp/src/tempfile.rs
  lux-workspace-hack/Cargo.toml
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-lua): progress reporting from Lua bridge
  Cargo.lock
  lux-lua/Cargo.toml
  lux-lua/src/definitions.rs
  lux-lua/src/lib.rs
  lux-lua/src/progress.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lsp): broken `Cargo.toml` for publishing and missing changelog
  lux-lsp/CHANGELOG.md
  lux-lsp/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lsp): broken `Cargo.toml` for publishing and missing changelog
  lux-lsp/CHANGELOG.md
  lux-lsp/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(workspace): properly detect nested single-project workspaces
  lux-lib/resources/test/sample-projects/nested/.gitignore
  lux-lib/resources/test/sample-projects/nested/lux.toml
  lux-lib/resources/test/sample-projects/nested/nested/.gitignore
  lux-lib/resources/test/sample-projects/nested/nested/lux.toml
  lux-lib/resources/test/sample-projects/nested/nested/src/main.lua
  lux-lib/resources/test/sample-projects/nested/src/main.lua
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(workspace): properly detect nested single-project workspaces (#1750)
  lux-lib/resources/test/sample-projects/nested/.gitignore
  lux-lib/resources/test/sample-projects/nested/lux.toml
  lux-lib/resources/test/sample-projects/nested/nested/.gitignore
  lux-lib/resources/test/sample-projects/nested/nested/lux.toml
  lux-lib/resources/test/sample-projects/nested/nested/src/main.lua
  lux-lib/resources/test/sample-projects/nested/src/main.lua
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: properly detect lua installations on non-nixos systems
  lux-lib/src/build/external_dependency.rs
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lsp): create port file immediately and clean up code
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lsp/Cargo.toml
  lux-lsp/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: install custom build backends as build dependencies automatically
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/operations/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: Lua installations on non-nixos distros (#1755)
  lux-lib/src/build/external_dependency.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/operations/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lsp): create port file immediately and clean up code (#1756)
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lsp/Cargo.toml
  lux-lsp/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: also ignore new trace/debug events produced by the lux-lib progress layers
  lux-lib/src/progress/layer.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: also ignore new trace/debug events produced by the lux-lib progress layers
  lux-lib/src/progress/layer.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1763)
  flake.lock
Owners: @mrcjkb, @teto

build(nix): don't disable libgit vendoring
  nix/overlay.nix
Owners: @mrcjkb, @teto

build(nix): move taplo fromatting to git-hooks
  .github/workflows/nix-build.yml
  Cargo.lock
  flake.nix
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

build(nix): debug builds
  .github/workflows/nix-build.yml
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(completion): support specifying output directory
  lux-cli/src/completion.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: man subcommand for generating manpages
  Cargo.lock
  Cargo.toml
  lux-cli/Cargo.toml
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/man.rs
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(xtask): support use in nix builds
  xtask-lua/src/lib.rs
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: `lx util` subcommand for manpages & completions
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/util/completion.rs
  lux-cli/src/util/man.rs
  lux-cli/src/util/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): don't rely on xtask for completions & man pages
  flake.nix
  nix/overlay.nix
Owners: @mrcjkb, @teto

build(xtask): remove lux-cli dependency
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: support detached workspace trees
  lux-cli/src/bin/lx.rs
  lux-cli/src/config.rs
  lux-cli/src/lib.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): fix lux-lua build
  nix/overlay.nix
Owners: @mrcjkb, @teto

refactor: use `unreachable!`, not `unwrap`
  lux-lsp/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lsp)!: allow setting port file via `LUX_LSP_PORT_FILE`
  lux-lib/src/config/mod.rs
  lux-lib/src/progress/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(xtask): support use in nix builds
  xtask-lua/src/lib.rs
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): don't disable libgit vendoring
  nix/overlay.nix
Owners: @mrcjkb, @teto

feat!: `lx util` subcommand for manpages & completions
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/util/completion.rs
  lux-cli/src/util/man.rs
  lux-cli/src/util/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): move taplo fromatting to git-hooks
  .github/workflows/nix-build.yml
  Cargo.lock
  flake.nix
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

build(xtask): remove lux-cli dependency
  Cargo.lock
  xtask/Cargo.toml
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(completion): support specifying output directory
  lux-cli/src/completion.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: man subcommand for generating manpages
  Cargo.lock
  Cargo.toml
  lux-cli/Cargo.toml
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/man.rs
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): debug builds
  .github/workflows/nix-build.yml
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

build(nix): don't rely on xtask for completions & man pages
  flake.nix
  nix/overlay.nix
Owners: @mrcjkb, @teto

refactor: use `unreachable!`, not `unwrap`
  lux-lsp/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): fix lux-lua build
  nix/overlay.nix
Owners: @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
