Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(rock_manifest): support empty dir entries (#1985)
  lux-lib/src/luarocks/rock_manifest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lockfile): name the stale install tree in version errors (#1986)
  lux-lib/src/lockfile/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(exec,run)!: forward all arguments following the command to the child process
  lux-cli/src/exec.rs
  lux-cli/src/run.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: initial Luau support
  README.md
  flake.nix
  lux-cli/src/check.rs
  lux-cli/src/dist/bin.rs
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/format.rs
  lux-cli/src/install_lua.rs
  lux-cli/src/lint.rs
  lux-cli/src/path.rs
  lux-cli/src/shell.rs
  lux-cli/src/utils/luau_analyze.rs
  lux-cli/src/utils/mod.rs
  lux-lib/resources/test/sample-projects/hello-luau/lux.toml
  lux-lib/resources/test/sample-projects/hello-luau/src/greeting.luau
  lux-lib/resources/test/sample-projects/hello-luau/src/main.luau
  lux-lib/resources/test/sample-tree/5.1/fdd927c4d96d1063ce66246cfd5ecb1939a8f8e8425f29428894b43586fb72cd-neorg@8.8.1-1/src/extra/init.luau
  lux-lib/resources/test/sample-tree/5.1/fdd927c4d96d1063ce66246cfd5ecb1939a8f8e8425f29428894b43586fb72cd-neorg@8.8.1-1/src/hello.luau
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_version/mod.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/gen_luaurc.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/run.rs
  lux-lib/src/operations/run_lua.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/package/version.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/which/mod.rs
  lux-lib/tests/build_lua.rs
  lux-lib/tests/build_luau.rs
  lux-lib/tests/run_luau.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(exec,run)!: forward args following the command to the child process (#1988)
  lux-cli/src/exec.rs
  lux-cli/src/run.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: periodically update luau version pin
  .github/workflows/update-luau.yml
  flake.nix
  scripts/update-luau.sh
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

test(luau): end-to-end rojo package layout test
  flake.nix
  lux-lib/resources/test/sample-projects/hello-rojo/default.project.json
  lux-lib/resources/test/sample-projects/hello-rojo/foo/lux.toml
  lux-lib/resources/test/sample-projects/hello-rojo/foo/src/init.lua
  lux-lib/resources/test/sample-projects/hello-rojo/lux.toml
  lux-lib/resources/test/sample-projects/hello-rojo/src/init.luau
  lux-lib/tests/rojo.rs
Owners: @mrcjkb, @teto, @NTBBloodbath, @vhyrro

feat(tree)!: allow custom rock layouts to cover dependencies
  lux-lib/src/tree/layout.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(luau): end-to-end wally dependency build
  lux-lib/resources/test/sample-projects/wally-signal/lux.toml
  lux-lib/resources/test/sample-projects/wally-signal/src/main.luau
  lux-lib/tests/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: clone and cache wally package registries
  lux-lib/src/config/mod.rs
  lux-lib/src/package/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: add wally remote package source
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: parse wally dependencies in lux.toml
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/package/wally.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(tree): Rojo layout preset for Luau packages
  lux-lib/src/package/version.rs
  lux-lib/src/tree/layout.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: generate schema for lux.toml & config
  Cargo.lock
  lux-cli/Cargo.toml
  lux-cli/src/util/mod.rs
  lux-cli/src/util/schema.rs
  lux-lib/Cargo.toml
  lux-lib/src/config/build.rs
  lux-lib/src/config/external_deps.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lib.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/deploy.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/lua_version/mod.rs
  lux-lib/src/operations/run.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/project/gen.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/schema.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: parse wally.toml manifests
  lux-lib/Cargo.toml
  lux-lib/src/package/mod.rs
  lux-lib/src/package/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: read wally package index
  lux-lib/src/package/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(test): tiniest test runner for luau
  lux-lib/resources/test/sample-projects/hello-luau/tests/greeting.spec.luau
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/operations/test/tiniest.rs
  lux-lib/tests/test_luau.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(cli): --preset rojo
  lux-cli/src/args.rs
  lux-cli/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build): transpile luau sources when building for lua
  Cargo.lock
  Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/luau/analyze.rs
  lux-lib/src/build/luau/mod.rs
  lux-lib/src/build/luau/require.rs
  lux-lib/src/build/luau/shims.rs
  lux-lib/src/build/mod.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(tree)!: rename layout hooks to apply_layout/remove_layout
  lux-lib/src/tree/layout.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: periodically update lua pins
  .github/workflows/update-lua.yml
  flake.nix
  scripts/update-lua.sh
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

ci: periodically update tiniest pin
  .github/workflows/update-tiniest.yml
  flake.nix
  scripts/update-tiniest.sh
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat: resolve wally dependencies from registries
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/package/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update lua
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1991)
  flake.lock
Owners: @mrcjkb, @teto

fix(build): move /NOIMPLIB /NOEXP after /link on MSVC
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): pass -DLUAJIT_VERSION to LuaJIT C module compiles
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs: rustdoc for generated schemas
  CONTRIBUTING.md
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/schema.rs
  lux-lsp/lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(test): pass an absolute --directory to busted runners
  lux-cli/src/lib.rs
  lux-lib/src/operations/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(integration): enable busted-nlua tests on windows-msvc
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): build LuaJIT as a shared library on MSVC
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

debug: troubleshooting busted-nlua on windows-msvc
  .github/workflows/cd-binstall.yml
  .github/workflows/cd-luarocks.yml
  .github/workflows/cd.yml
  .github/workflows/dist-package-dry-run.yml
  .github/workflows/integration-tests.yml
  .github/workflows/merge-changelogs.yml
  .github/workflows/nix-build.yml
  .github/workflows/release-plz.yml
  .github/workflows/update-flake-lock.yml
  lux-lib/src/operations/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(integration): enable busted-nlua tests on windows-msvc
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): build LuaJIT as a shared library on MSVC
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(msvc): add rust-cache and link with rust-lld
  .github/workflows/integration-msvc.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): build LuaJIT as a shared library on MSVC
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(integration): enable busted-nlua tests on windows-msvc
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(test): pass an absolute --directory to busted runners
  lux-cli/src/lib.rs
  lux-lib/src/operations/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): pass -DLUAJIT_VERSION to LuaJIT C module compiles
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): move /NOIMPLIB /NOEXP after /link on MSVC
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
