Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

feat: support local dependencies
  README.md
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1509)
  flake.lock
Owners: @mrcjkb, @teto

chore(deps): update Cargo.lock
  Cargo.lock
  flake.lock
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

chore(deps): update Cargo.lock (#1498)
  Cargo.lock
  flake.lock
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

chore: review comments
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: fallback to generic target if platform build fails
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: only lua 5.4 has a readline target
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: cleanup clippy warnings
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: add readline to nix packages
  flake.nix
Owners: @mrcjkb, @teto

chore: review comments
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: remove readline from nix flake
  flake.nix
Owners: @mrcjkb, @teto

fix: use correct build targets for lua
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lua): restore platform build targets and add freebsd support (#1514)
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: deduplicate build-lua error handling
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: add `mlua-extras` support
  Cargo.lock
  Cargo.toml
  lux-lua/Cargo.toml
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: finalize mlua-extras integration
  .gitignore
  Cargo.lock
  Cargo.toml
  lux-definitions/Cargo.toml
  lux-definitions/src/main.rs
  lux-lua/Cargo.toml
  lux-lua/src/config.rs
  lux-lua/src/definitions.rs
  lux-lua/src/lib.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1521)
  flake.lock
  lux-cli/src/uninstall.rs
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/path.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/which/mod.rs
Owners: @mrcjkb, @teto, @NTBBloodbath, @vhyrro

perf(build): parallelise multi-project builds
  lux-lib/src/build/mod.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/git/url.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/install/spec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: support multiple projects per workspace
  README.md
  lux-lib/resources/test/sample-projects/multi-project/.gitignore
  lux-lib/resources/test/sample-projects/multi-project/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/bar/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/bar/src/main.lua
  lux-lib/resources/test/sample-projects/multi-project/projects/foo/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/foo/src/main.lua
  lux-lib/src/workspace/mod.rs
  lux-lib/src/workspace/workspace_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: support workspaces with multiple projects (#1503)
  README.md
  lux-lib/resources/test/sample-projects/multi-project/.gitignore
  lux-lib/resources/test/sample-projects/multi-project/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/bar/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/bar/src/main.lua
  lux-lib/resources/test/sample-projects/multi-project/projects/foo/lux.toml
  lux-lib/resources/test/sample-projects/multi-project/projects/foo/src/main.lua
  lux-lib/src/workspace/mod.rs
  lux-lib/src/workspace/workspace_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: support local dependencies
  README.md
  lux-lib/resources/test/sample-projects/multi-project-local-deps/.gitignore
  lux-lib/resources/test/sample-projects/multi-project-local-deps/lux.toml
  lux-lib/resources/test/sample-projects/multi-project-local-deps/projects/bar/lux.toml
  lux-lib/resources/test/sample-projects/multi-project-local-deps/projects/bar/src/main.lua
  lux-lib/resources/test/sample-projects/multi-project-local-deps/projects/foo/lux.toml
  lux-lib/resources/test/sample-projects/multi-project-local-deps/projects/foo/src/foo.lua
  lux-lib/src/project/project_toml.rs
  lux-lib/src/workspace/mod.rs
  lux-lib/tests/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: support local dependencies (#1508)
  README.md
  lux-lib/resources/test/sample-projects/multi-project-local-deps/.gitignore
  lux-lib/resources/test/sample-projects/multi-project-local-deps/lux.toml
  lux-lib/resources/test/sample-projects/multi-project-local-deps/projects/bar/lux.toml
  lux-lib/resources/test/sample-projects/multi-project-local-deps/projects/bar/src/main.lua
  lux-lib/resources/test/sample-projects/multi-project-local-deps/projects/foo/lux.toml
  lux-lib/resources/test/sample-projects/multi-project-local-deps/projects/foo/src/foo.lua
  lux-lib/src/project/project_toml.rs
  lux-lib/src/workspace/mod.rs
  lux-lib/tests/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: add `workflow_dispatch` trigger to release workflow
  .github/workflows/release-plz.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(test): only infer dependencies if unspecified
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/operations/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(cli/run): ensure unique `--package` argument
  lux-cli/src/build.rs
  lux-cli/src/run.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(cli/run): ensure unique `--package` argument (#1527)
  lux-cli/src/build.rs
  lux-cli/src/run.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(test): only infer dependencies if unspecified (#1526)
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/operations/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: validate CLI interface via clap completion test
  lux-cli/src/completion.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(gen-rockspec): support multi-line strings
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(gen-rockspec): properly encode quotes
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(gen-rockspec): add case for double backslashes
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(gen-rockspec)!: fail if invalid Lua was generated
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: DisplayLuaValue::String must escape contents
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(gen-rockspec)!: fail if invalid Lua was generated (#1533)
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: improve DisplayLuaValue test to cover leading-zero cases
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(generate-lua): properly escape string contents (#1534)
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(generate-lua): generate long-delimiter multiline printable strings
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(generate-lua): clippy complained about repeat...take and unwrap
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(generate-lua): generate long-delimiter multiline printable strings (#1537)
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(workspace): support globs in `members` paths
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb
