Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

fix(install-rockspec): dependencies not installed (#1292)
  lux-cli/src/install_rockspec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: `vendor` command
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/pack.rs
  lux-cli/src/vendor.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/build/treesitter_parser.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/package/mod.rs
  lux-lib/tests/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: `vendor` command
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/pack.rs
  lux-cli/src/vendor.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/build/treesitter_parser.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/package/mod.rs
  lux-lib/tests/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: option to build with vendored directory
  README.md
  lux-cli/src/bin/lx.rs
  lux-cli/src/build.rs
  lux-cli/src/install_rockspec.rs
  lux-cli/src/lib.rs
  lux-cli/src/vendor.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/manifest/metadata_from_vendor_dir.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/package/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: option to build with vendored directory (#1283)
  README.md
  lux-cli/src/bin/lx.rs
  lux-cli/src/build.rs
  lux-cli/src/install_rockspec.rs
  lux-cli/src/lib.rs
  lux-cli/src/vendor.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/manifest/metadata_from_vendor_dir.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/package/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd(luarocks): change GPG key secret from GPG_PRIVATE_KEY to GPG_SECRET_KEY
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(fmt): include file path in error message
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(fmt): include file path in error message (#1302)
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(test/busted-nlua): ignore lua in `.busted` config file
  lux-lib/resources/test/sample-projects/busted-nlua/.busted
  lux-lib/src/lua_rockspec/test_spec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(test/busted-nlua): ignore lua in `.busted` config file (#1303)
  lux-lib/resources/test/sample-projects/busted-nlua/.busted
  lux-lib/src/lua_rockspec/test_spec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/builtin): pass `LIBFLAG` and `LDFLAGS` to linker
  lux-lib/src/build/utils.rs
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/builtin): pass `LIBFLAG` and `LDFLAGS` to linker (#1300)
  lux-lib/src/build/utils.rs
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(test/busted-nlua): unbreak on macOS
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/operations/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

tests(test/busted-nlua): enable on macOS
  lux-cli/src/lib.rs
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(test/busted-nlua): unbreak on macOS (#1304)
  lux-cli/src/lib.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/operations/test.rs
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(build): simplify Lua script detection
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(build): simplify Lua script detection (#1308)
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-cli): vendor with luau for sandboxing
  .github/workflows/integration-msvc.yml
  Cargo.lock
  README.md
  flake.nix
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  nix/overlay.nix
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(lux-cli): vendor with luau for sandboxing (#1309)
  .github/workflows/integration-msvc.yml
  Cargo.lock
  README.md
  flake.nix
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  nix/overlay.nix
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat: enable luau sandbox mode when loading rockspecs
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading `extra.rockspec`
  lux-lib/src/lua_rockspec/partial.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading rock manifests
  lux-lib/src/luarocks/rock_manifest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when detecting Lua bin scripts
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading remote rockspecs
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading luarocks manifest
  lux-lib/src/manifest/metadata.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading rockspecs
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading luarocks manifest
  lux-lib/src/manifest/metadata.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading rock manifests
  lux-lib/src/luarocks/rock_manifest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when detecting Lua bin scripts
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading remote rockspecs
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: enable luau sandbox mode when loading `extra.rockspec`
  lux-lib/src/lua_rockspec/partial.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): substitute variables in rockspec modules
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): substitute variables in rockspec modules (#1317)
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: add spec to format command
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Update luacheck link in README.md
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(readme): update luacheck url (#1319)
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(fmt)!: format `spec` directory (#1318)
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build: update nixpkgs flake input
  flake.lock
  flake.nix
  lux-lib/src/operations/sync.rs
Owners: @mrcjkb, @teto, @NTBBloodbath, @vhyrro

build: update crane flake input
  flake.lock
Owners: @mrcjkb, @teto

ci: use neovim from nixpkgs
  .github/workflows/integration-tests.yml
  flake.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto
