Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

feat(dist): single binary project distribution (#1652)
  README.md
  lux-cli/src/dist/bin.rs
  lux-cli/src/dist/mod.rs
  lux-lib/resources/test/sample-projects/c-src/lux.toml
  lux-lib/resources/test/sample-projects/c-src/src/foo.c
  lux-lib/resources/test/sample-projects/c-src/src/main.lua
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lib/src/tree/dist.rs
  lux-lib/tests/dist_bin.rs
  lux-lua/src/operations.rs
  lux-lua/src/workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: generate man pages for all subcommands
  nix/overlay.nix
  xtask/src/main.rs
Owners: @mrcjkb, @teto, @NTBBloodbath, @vhyrro

feat: generate man pages for all subcommands (#1662)
  nix/overlay.nix
  xtask/src/main.rs
Owners: @mrcjkb, @teto, @NTBBloodbath, @vhyrro

feat(check): support specifying directories
  lux-cli/src/check.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lint): resolve CLI argument parsing regression in
  lux-cli/src/lint.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lint)!: resolve CLI argument parsing regression in lx lint (#1669)
  lux-cli/src/lint.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(check): align config discovery with lx fmt
  lux-cli/src/check.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(rockspec): support per-platform overrides without default
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(fmt)!: use `--path` flag
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lint): remove short option for `--path` flag
  lux-cli/src/lint.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(rockspec): support per-platform overrides without default (#1671)
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

rm shrt flg
  lux-cli/src/check.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua): manual `UserData` impls
  lux-lua/src/config.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1664)
  flake.lock
Owners: @mrcjkb, @teto

feat(check): support specifying directories (#1663)
  lux-cli/src/check.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: replace `--porcelain` with `--output-format`
  lux-cli/src/dist/bin.rs
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/generate_rockspec.rs
  lux-cli/src/list.rs
  lux-cli/src/outdated.rs
  lux-cli/src/search.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua): manual `UserData` impls (#1672)
  lux-lua/src/config.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: replace `--porcelain` with `--output-format` (#1674)
  lux-cli/src/dist/bin.rs
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/generate_rockspec.rs
  lux-cli/src/list.rs
  lux-cli/src/outdated.rs
  lux-cli/src/search.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Update CHANGELOG.md
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Update CHANGELOG.md
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: add `cargo ttl` alias for Lua tests
  .cargo/config.toml
  CONTRIBUTING.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: more detailed cargo config.toml comments
  .cargo/config.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua): add missing `module` feature check
  lux-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua): add missing `module` feature check (#1676)
  lux-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build/tree-sitter): install source queries if none are specified in the rockspec
  lux-lib/resources/test/tree-sitter-tmux-scm-1.rockspec
  lux-lib/src/build/treesitter_parser.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/tests/build.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(lux-lua): add Lua API tests for `UserData` types
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build/tree-sitter): install source queries if none are specified in the rockspec (#1681)
  lux-lib/resources/test/tree-sitter-tmux-scm-1.rockspec
  lux-lib/src/build/treesitter_parser.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/tests/build.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(lux-lua): add Lua API tests for `UserData` types (#1675)
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(new): don't prompt to overwrite project if none exists
  .serena/.gitignore
  .serena/project.yml
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(new): don't prompt to overwrite project if none exists
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(new): simplify no-prompt check
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(new): extract `overwrite_prompt_confirmed` function
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build: exclude miette from workspace hack
  .config/hakari.toml
  Cargo.lock
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build: exclude miette from workspace hack (#1687)
  .config/hakari.toml
  Cargo.lock
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(cli): prevent miette from intercepting clap help output
  lux-cli/src/bin/lx.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(cli): prevent miette from intercepting clap help output (#1690)
  lux-cli/src/bin/lx.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: .gitignore hidden files by default
  .gitignore
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(error-reporting)!: lockfile integrity diagnostics
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(error-reporting)!: test operations diagnostics
  lux-lib/src/operations/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(error-reporting)!: builtin build diagnostics
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb
