Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

chore: tweak readme heading
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): dependencies added as install tree entrypoints
  lux-cli/src/build.rs
  lux-lib/src/lockfile/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux-lua): unset default feature
  lux-cli/src/build.rs
  lux-lua/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build: unset default luajit feature
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  lux-lua/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux.toml): bad conversion of deploy spec to lua
  lux-lib/src/lua_rockspec/deploy.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: add `--fallback` flag
  .github/workflows/nix-build.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lua) improvements to detecting/installing [#976]
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Revert "improvements to detecting/installing lua [do not squash] (#976)"
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): fix lux-lua build
  .github/workflows/nix-build.yml
  nix/overlay.nix
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

cd: link gpgme statically
  .github/workflows/cd.yml
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(git-dependencies): handle git tags with specrevs
  lux-lib/src/git/utils.rs
  lux-lib/src/project/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1051)
  flake.lock
Owners: @mrcjkb, @teto

chore(docs): rename nvim-neorocks -> lumen-oss
  .github/workflows/cd-binstall.yml
  .github/workflows/cd.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/resources/test/sample-projects/busted-nlua/lux.toml
  lux-lib/resources/test/sample-projects/dependencies/lux.toml
  lux-lib/resources/test/sample-projects/extra-rockspec/lux.toml
  lux-lib/resources/test/sample-projects/lockfile-missing-deps/lux.toml
  lux-lib/resources/test/sample-projects/no-build-spec/foo-1.0.0-1.rockspec
  lux-lib/resources/test/sample-projects/no-build-spec/lux.toml
  lux-lib/resources/test/sample-projects/only-src/lux.toml
  lux-lib/resources/test/sample-projects/source-template/lux.toml
  lux-lib/src/git/shorthand.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/tests/pack.rs
  lux.toml
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: format
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(docs): rename nvim-neorocks -> lumen-oss (#1057)
  .github/workflows/cd-binstall.yml
  .github/workflows/cd.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/resources/test/sample-projects/busted-nlua/lux.toml
  lux-lib/resources/test/sample-projects/dependencies/lux.toml
  lux-lib/resources/test/sample-projects/extra-rockspec/lux.toml
  lux-lib/resources/test/sample-projects/lockfile-missing-deps/lux.toml
  lux-lib/resources/test/sample-projects/no-build-spec/foo-1.0.0-1.rockspec
  lux-lib/resources/test/sample-projects/no-build-spec/lux.toml
  lux-lib/resources/test/sample-projects/only-src/lux.toml
  lux-lib/resources/test/sample-projects/source-template/lux.toml
  lux-lib/src/git/shorthand.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/tests/pack.rs
  lux.toml
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: add FUNDING.yml
  .github/FUNDING.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1060)
  flake.lock
Owners: @mrcjkb, @teto

chore(deps): bulk update
  Cargo.lock
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update (#1066)
  Cargo.lock
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(deps): replace unmaintained `tempdir` with `tempfile`
  Cargo.lock
  Cargo.toml
  lux-cli/Cargo.toml
  lux-cli/src/pack.rs
  lux-lib/Cargo.toml
  lux-lib/src/build/luarocks.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/hash.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/pack.rs
  lux-lib/src/operations/unpack.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(deps): replace unmaintained `tempdir` with `tempfile` (#1074)
  Cargo.lock
  Cargo.toml
  lux-cli/Cargo.toml
  lux-cli/src/pack.rs
  lux-lib/Cargo.toml
  lux-lib/src/build/luarocks.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/hash.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/pack.rs
  lux-lib/src/operations/unpack.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: don't expose git-url-parse types
  lux-cli/src/utils/github_metadata.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/git/shorthand.rs
  lux-lib/src/git/url.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: bump git-url-parse to 0.5.2, GitUrl -> RemoteGitUrl
  Cargo.lock
  Cargo.toml
  lux-cli/src/utils/github_metadata.rs
  lux-cli/src/utils/project.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/git/shorthand.rs
  lux-lib/src/git/url.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: don't expose `git-url-parse` types (#1073)
  Cargo.lock
  Cargo.toml
  lux-cli/src/utils/github_metadata.rs
  lux-cli/src/utils/project.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/git/shorthand.rs
  lux-lib/src/git/url.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump mlua to version 0.11.3
  Cargo.lock
  Cargo.toml
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: set token permissions
  .github/workflows/integration-msvc.yml
  .github/workflows/integration-tests.yml
  .github/workflows/update-flake-lock.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump mlua to version 0.11.3 (#1075)
  Cargo.lock
  Cargo.toml
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: set token permissions (#1076)
  .github/workflows/integration-msvc.yml
  .github/workflows/integration-tests.yml
  .github/workflows/update-flake-lock.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(readme): add note about statically linking gpgme
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: add space to changelog
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1079)
  flake.lock
Owners: @mrcjkb, @teto

ci(integration): bump neovim version
  .github/workflows/integration-msvc.yml
  .github/workflows/integration-tests.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lua): failure to install when path contains spaces
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lua): failure to install when path contains spaces (#1085)
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump git-url-parse to 0.6.0
  Cargo.lock
  Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build: update homepage and PKGBUILD conflicts
  README.md
  lux-lib/Cargo.toml
  lux.toml
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump git-url-parse to 0.6.0 (#1086)
  Cargo.lock
  Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: don't download remote manifest if is there is nothing to install
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/update.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: don't download remote manifest if is there is nothing to install (#1091)
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/update.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1094)
  flake.lock
Owners: @mrcjkb, @teto
