Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

style: format release-plz.toml
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1348)
  flake.lock
Owners: @mrcjkb, @teto

docs(contributing): Strict No LLM / AI policy
  CONTRIBUTING.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(contributing): Strict No LLM / AI policy (#1352)
  CONTRIBUTING.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(contributing): formatting
  CONTRIBUTING.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: replace FromPlatformOverridable with TryFrom
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: replace `PerPlatformWrapper` with a simpler function
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: replace `PerPlatformWrapper` with a simpler function
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: replace FromPlatformOverridable with TryFrom
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1353)
  flake.lock
Owners: @mrcjkb, @teto

refactor!: simplify structs related to `PerPlatform` (#1355)
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(readme): update formatting section
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: temporarily remove all UserData implementations
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: remove all `IntoLua` implementations
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: add tests for FromLua deserializations
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: hotswap FromLua with Deserialize
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/config/mod.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: hotswap all FromLua implementations with serde
  lux-lib/src/build/mod.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: remove lux-lua related checks in the flake for the time being
  Cargo.toml
  flake.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat: use `piccolo` for sandboxed evaluation of rockspecs
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/lib.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/manifest/metadata.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: unify deserialization system to accommodate piccolo
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1363)
  flake.lock
Owners: @mrcjkb, @teto

refactor: migrate `RockManifest` to piccolo
  lux-lib/src/build/utils.rs
  lux-lib/src/luarocks/rock_manifest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: migrate tests to piccolo
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(ui): enable OSC native terminal progress bar support
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(ui): enable OSC native terminal progress bar support (#1369)
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: remove all FromLua implementations
  lux-lib/src/build/mod.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: remove mlua
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/tree/mod.rs
  lux-lib/src/upload/mod.rs
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: remove all `IntoLua` implementations
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: temporarily remove all UserData implementations
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: remove lux-lua related checks in the flake for the time being
  Cargo.toml
  flake.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

test: add tests for FromLua deserializations
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: hotswap FromLua with Deserialize
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/config/mod.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: hotswap all FromLua implementations with serde
  lux-lib/src/build/mod.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: remove all FromLua implementations
  lux-lib/src/build/mod.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: migrate `RockManifest` to piccolo
  lux-lib/src/build/utils.rs
  lux-lib/src/luarocks/rock_manifest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: remove mlua
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/src/config/tree.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/tree/mod.rs
  lux-lib/src/upload/mod.rs
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: remove all references to mlua traits
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: unify deserialization system to accommodate piccolo
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: use `piccolo` for sandboxed evaluation of rockspecs
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/lib.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/manifest/metadata.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: migrate tests to piccolo
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb
