Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

build: update git-hooks flake input
  flake.lock
Owners: @mrcjkb, @teto

tests: unbreak luaossl build
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: support lua 5.5
  .cargo/config.toml
  .github/workflows/cd.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nix-build.yml
  Cargo.lock
  README.md
  flake.nix
  lux-cli/Cargo.toml
  lux-cli/src/project/new.rs
  lux-lib/Cargo.toml
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/tests/build_lua.rs
  lux-lib/tests/install.rs
  lux-lua/Cargo.toml
  lux-lua/src/lib.rs
  lux-lua/src/loader.rs
  lux.toml
  nix/overlay.nix
  xtask-lua/Cargo.toml
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

build: update git-hooks flake input
  flake.lock
Owners: @mrcjkb, @teto

build: update crane flake input
  flake.lock
Owners: @mrcjkb, @teto

build(devShell): remove pre-commit hooks on darwin
  flake.nix
Owners: @mrcjkb, @teto

tests: unbreak luaossl build
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: use neovim from nixpkgs
  .github/workflows/integration-tests.yml
  flake.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat!: support lua 5.5
  .cargo/config.toml
  .github/workflows/cd.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nix-build.yml
  Cargo.lock
  README.md
  flake.nix
  lux-cli/Cargo.toml
  lux-cli/src/project/new.rs
  lux-lib/Cargo.toml
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/tests/build_lua.rs
  lux-lib/tests/install.rs
  lux-lua/Cargo.toml
  lux-lua/src/lib.rs
  lux-lua/src/loader.rs
  lux.toml
  nix/overlay.nix
  xtask-lua/Cargo.toml
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat!: support lua 5.5 (#1258)
  .cargo/config.toml
  .github/workflows/cd.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nix-build.yml
  Cargo.lock
  README.md
  flake.lock
  flake.nix
  lux-cli/Cargo.toml
  lux-cli/src/project/new.rs
  lux-lib/Cargo.toml
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/tests/build_lua.rs
  lux-lib/tests/install.rs
  lux-lua/Cargo.toml
  lux-lua/src/lib.rs
  lux-lua/src/loader.rs
  lux.toml
  nix/overlay.nix
  xtask-lua/Cargo.toml
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

ci(integration): re-enable luajit tests
  .github/workflows/integration-tests.yml
  flake.lock
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(fmt)!: format `test` and `tests` directories
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(readme): add xtask snippet for Lua 5.5
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(tests): install vendored project to temp directory
  lux-cli/src/run_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(tests): install vendored project to temp directory (2)
  lux-cli/src/build.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(changelog): cleanup
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Update CHANGELOG.md
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): don't export `$HOME`
  lux-lib/src/operations/build_project.rs
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

build(nix): don't export `$HOME` (#1328)
  lux-lib/src/operations/build_project.rs
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

chore(deps): bump emmylua_check to 0.20.0
  Cargo.lock
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump emmylua_check to 0.20.0 (#1330)
  Cargo.lock
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1314)
  flake.lock
Owners: @mrcjkb, @teto

chore(deps): bulk update
  Cargo.lock
  lux-lib/Cargo.toml
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(readme): add missing Lua 5.5 reference
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(readme): update package badge
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(readme): update package badge (#1336)
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1335)
  flake.lock
Owners: @mrcjkb, @teto

feat: (unofficial) Android compilation target support
  lux-cli/src/shell.rs
  lux-lib/src/build/external_dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: (unofficial) Android compilation target support (#1338)
  lux-cli/src/shell.rs
  lux-lib/src/build/external_dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(integration): re-enable luajit tests
  .github/workflows/integration-tests.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update
  Cargo.lock
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update (#1339)
  Cargo.lock
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(release-plz): trigger on push to 'main'
  .github/workflows/release-plz.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(nox-build): trigger on push to 'main'
  .github/workflows/nix-build.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(intergration): trigger on push to 'main'
  .github/workflows/integration-tests.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(integration-msvc): trigger on push to 'main'
  .github/workflows/integration-msvc.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: tweak release-plz changelog config
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: tweak release-plz changelog config
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: fix release-plz changelog config
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: fix release-plz duplicate changelog config entry
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb
