Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

everything everywhere
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

remove linker args
  .cargo/config.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

get it right
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

maybeb
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

maybe use the write `arg` command ...
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-lib): build lua with .dll on windows
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: review comments
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

install -> link
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

install -> link
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lua): build as a DLL on windows (#1607)
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-cli): add support for specifying directories and files for lx fmt
  lux-cli/resources/test/sample-projects/loose-lua/a.lua
  lux-cli/resources/test/sample-projects/loose-lua/nested/b.lua
  lux-cli/resources/test/sample-projects/loose-lua/notes.txt
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-cli): make loose dir to pick up workspace's config
  lux-cli/resources/test/loose-lua/a.lua
  lux-cli/resources/test/loose-lua/nested/b.lua
  lux-cli/resources/test/loose-lua/notes.txt
  lux-cli/resources/test/sample-projects/stylua-config/lux.toml
  lux-cli/resources/test/sample-projects/stylua-config/src/main.lua
  lux-cli/resources/test/sample-projects/stylua-config/stylua.toml
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(fmt): add support for specifying directories and files (#1609)
  lux-cli/resources/test/loose-lua/a.lua
  lux-cli/resources/test/loose-lua/nested/b.lua
  lux-cli/resources/test/loose-lua/notes.txt
  lux-cli/resources/test/sample-projects/stylua-config/lux.toml
  lux-cli/resources/test/sample-projects/stylua-config/src/main.lua
  lux-cli/resources/test/sample-projects/stylua-config/stylua.toml
  lux-cli/src/format.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1605)
  flake.lock
Owners: @mrcjkb, @teto

fix(cli/new): properly parse precise SPDX license IDs
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(cli/new): print supported SPDX license IDs on validation failure
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(cli/new): properly parse precise SPDX license IDs (#1614)
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lua-definitions): fail on undocumented params
  lux-definitions/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-lua)!: add documentation + tweak API
  Cargo.lock
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/lua_version/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/tree/mod.rs
  lux-lib/src/workspace/mod.rs
  lux-lua/Cargo.toml
  lux-lua/src/config.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  lux-lua/src/workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux-lua): distribute Lua definitions
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: add `mlua-extras` support
  .gitignore
  Cargo.lock
  Cargo.toml
  lux-definitions/Cargo.toml
  lux-definitions/src/main.rs
  lux-lua/Cargo.toml
  lux-lua/src/config.rs
  lux-lua/src/definitions.rs
  lux-lua/src/lib.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  lux-lua/src/workspace.rs
  lux-workspace-hack/Cargo.toml
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

style: taplo formatting
  Cargo.lock
  Cargo.toml
  lux-lua/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): pull in mlua-extras version 11.6.2
  Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(mlua-extras): update to crates.io version
  Cargo.lock
  Cargo.toml
  lux-definitions/Cargo.toml
  lux-lua/Cargo.toml
  lux-lua/src/config.rs
  lux-lua/src/lib.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  lux-lua/src/workspace.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: taplo fmt
  Cargo.toml
  lux-lua/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: `derive(UserData)` improperly delegating methods and fields
  lux-lua/src/config.rs
  lux-lua/src/lib.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  lux-lua/src/workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(definitions): manually define the Lux lua module because of weird behaviour in mlua-extras where the members of Lux are ignored
  lux-lua/src/definitions.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(lux-definitions): remove lux-workspace-hack
  .config/hakari.toml
  Cargo.lock
  lux-definitions/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux-definitions): add vendored feature
  lux-definitions/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux-definitions): don't enable lux-lua `test` feature
  lux-definitions/Cargo.toml
  lux-lua/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux-lua): fix nix build [wip]
  .config/hakari.toml
  CONTRIBUTING.md
  Cargo.lock
  lux-definitions/Cargo.toml
  lux-lib/Cargo.toml
  lux-lua/Cargo.toml
  lux-lua/src/lib.rs
  lux-macros/Cargo.toml
  lux-workspace-hack/Cargo.toml
  lux.toml
  nix/overlay.nix
  xtask-lua/Cargo.toml
  xtask-lua/src/lib.rs
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(lux-lua): binary distribution
  lux-definitions/Cargo.toml
  lux-lua/Cargo.toml
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update
  Cargo.lock
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(deps): roll back `http` to 1.4.0
  Cargo.lock
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Apply suggestion from @mrcjkb
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(config): add config for ls file
  lux-cli/src/check.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/operations/gen_luarc.rs
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: add test
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua): build rock with `vendored-module` feature
  lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua): build rock with `vendored-module` feature (#1628)
  lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb
