Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

chore: update flake.lock (#1625)
  flake.lock
Owners: @mrcjkb, @teto

ci: `xtask dist-package` dry-run
  .github/workflows/dist-package-dry-run.yml
  xtask-lua/src/lib.rs
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(integration): re-enable luajit tests
  .github/workflows/integration-tests.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: change ls_config_file to non-optional luarc_file_name with default
  lux-lib/src/config/mod.rs
  lux-lib/src/workspace/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix
  lux-lib/src/workspace/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(config)!: add `luarc_file_name` option (#1626)
  lux-cli/src/check.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/operations/gen_luarc.rs
  lux-lib/src/workspace/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: `xtask dist-package` dry-run (#1622)
  .github/workflows/dist-package-dry-run.yml
  xtask-lua/src/lib.rs
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Update CHANGELOG.md
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): fix darwin builds
  .github/workflows/nix-build.yml
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(xtask-lua): distribution on Windows
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update
  Cargo.lock
  lux-lib/src/manifest/metadata_from_server.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update (#1633)
  Cargo.lock
  lux-lib/src/manifest/metadata_from_server.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: don't sign in xtask-dist dry-run
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd: upload lux-lua definitions artifact
  .github/workflows/cd.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd: upload lux-lua definitions artifact (#1641)
  .github/workflows/cd.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(upload)!: support two-factor authentication
  lux-cli/src/upload.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(upload): generate `-1` specrev, not `-2` if package doesn't exist
  lux-lib/src/package/version.rs
  lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Apply suggestion from @mrcjkb
  lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(upload): generate `-1` specrev, not `-2` if package doesn't exist (#1644)
  lux-lib/src/package/version.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(cli): add `debug toolchains` subcommand
  lux-cli/src/args.rs
  lux-cli/src/bin/lx.rs
  lux-cli/src/check.rs
  lux-cli/src/debug.rs
  lux-cli/src/dependencies.rs
  lux-cli/src/lib.rs
  lux-lib/src/dependencies.rs
  lux-lib/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: rename to
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/toolchains.rs
  lux-lib/src/lib.rs
  lux-lib/src/toolchains.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: add test
  lux-lib/src/toolchains.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux-cli): add resources to Cargo.toml excludes
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: use CARGO_MANIFEST_DIR to discover resources
  lux-cli/src/add.rs
  lux-cli/src/format.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/workspace/mod.rs
  lux-lib/tests/build.rs
  lux-lib/tests/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: use `CARGO_MANIFEST_DIR` to discover resources (#1646)
  lux-cli/Cargo.toml
  lux-cli/src/add.rs
  lux-cli/src/format.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/workspace/mod.rs
  lux-lib/tests/build.rs
  lux-lib/tests/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(upload)!: support two-factor authentication (#1642)
  lux-cli/src/upload.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(upload): support generating TOTP codes in CI
  Cargo.lock
  lux-cli/Cargo.toml
  lux-cli/src/upload.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(README): make intro more concise
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(upload): support generating TOTP codes in CI (#1643)
  Cargo.lock
  lux-cli/Cargo.toml
  lux-cli/src/upload.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(README): make intro more concise (#1638)
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: moce toolchains to debug module
  lux-cli/src/bin/lx.rs
  lux-cli/src/debug.rs
  lux-cli/src/debug/toolchains.rs
  lux-cli/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(debug): add `debug toolchains` subcommand (#1645)
  lux-cli/src/args.rs
  lux-cli/src/bin/lx.rs
  lux-cli/src/check.rs
  lux-cli/src/debug.rs
  lux-cli/src/debug/toolchains.rs
  lux-lib/src/lib.rs
  lux-lib/src/toolchains.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd: fix lux-lua definitions upload.
  .github/workflows/cd.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lint): add support for specifying dir
  lux-cli/src/format.rs
  lux-cli/src/lint.rs
  lux-cli/src/utils/mod.rs
  lux-cli/src/utils/path.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1655)
  flake.lock
Owners: @mrcjkb, @teto

feat(lint): support specifying files & directories (#1656)
  lux-cli/src/format.rs
  lux-cli/src/lint.rs
  lux-cli/src/utils/mod.rs
  lux-cli/src/utils/path.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: delete accidentally committed file
  2
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(dist): single binary project distribution
  2
  README.md
  lux-cli/src/dist/bin.rs
  lux-cli/src/dist/mod.rs
  lux-lib/resources/test/sample-projects/c-src/lux.toml
  lux-lib/resources/test/sample-projects/c-src/src/foo.c
  lux-lib/resources/test/sample-projects/c-src/src/main.lua
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lib/src/tree/dist.rs
  lux-lib/tests/dist_bin.rs
  lux-lua/src/operations.rs
  lux-lua/src/workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(rockspec)!: enforce URL in `description.issues_url`
  lux-lib/src/lua_rockspec/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(rockspec)!: enforce URL in `description.issues_url` (#1658)
  lux-lib/src/lua_rockspec/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
