Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat: port all mlua-specific code to lux-lua
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/tests/tree.rs
  lux-lua/Cargo.toml
  lux-lua/src/config.rs
  lux-lua/src/lib.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  lux-lua/tests/pack.rs
  lux-lua/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Revert "chore: remove lux-lua related checks in the flake for the time being"
  flake.nix
Owners: @mrcjkb, @teto

fix: remove unnecessary references to luau
  Cargo.toml
  flake.nix
  nix/overlay.nix
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

docs: reword README, remove comment
  README.md
  lux-lib/src/lua_rockspec/partial.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1370)
  flake.lock
Owners: @mrcjkb, @teto

test: add regression test for `say` rockspec
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump toml and toml_edit
  Cargo.lock
  Cargo.toml
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump toml and toml_edit (#1373)
  Cargo.lock
  Cargo.toml
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump emmylua_check to 0.21.0
  Cargo.lock
  lux-cli/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump emmylua_check to 0.21.0
  Cargo.lock
  Cargo.toml
  lux-cli/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update piccolo to our fork
  Cargo.lock
  lux-lib/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update codebase to latest piccolo
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: remove unused feature flag on MSVC
  .github/workflows/integration-msvc.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: move to our fork of piccolo for proper versioning
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs: reword README, remove comment
  README.md
  lux-lib/src/lua_rockspec/partial.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: remove lux-lua related checks in the flake for the time being
  Cargo.toml
  flake.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat: unify deserialization system to accommodate piccolo
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: migrate tests to piccolo
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: use `piccolo` for sandboxed evaluation of rockspecs
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/lib.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/manifest/metadata.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: remove mlua
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/src/config/tree.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/tree/mod.rs
  lux-lib/src/upload/mod.rs
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: add tests for FromLua deserializations
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: port all mlua-specific code to lux-lua
  .config/hakari.toml
  Cargo.lock
  Cargo.toml
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/tests/tree.rs
  lux-lua/Cargo.toml
  lux-lua/src/config.rs
  lux-lua/src/lib.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  lux-lua/tests/pack.rs
  lux-lua/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update piccolo to our fork
  Cargo.lock
  lux-lib/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: hotswap FromLua with Deserialize
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/config/mod.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: remove unnecessary references to luau
  Cargo.toml
  flake.nix
  nix/overlay.nix
  xtask/src/main.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

refactor: remove all references to mlua traits
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update codebase to latest piccolo
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: remove all `IntoLua` implementations
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: remove unused feature flag on MSVC
  .github/workflows/integration-msvc.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: move to our fork of piccolo for proper versioning
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: remove all FromLua implementations
  lux-lib/src/build/mod.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: migrate `RockManifest` to piccolo
  lux-lib/src/build/utils.rs
  lux-lib/src/luarocks/rock_manifest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: temporarily remove all UserData implementations
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/git/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/cmake.rs
  lux-lib/src/lua_rockspec/build/make.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_mlua.rs
  lux-lib/src/lua_rockspec/build/tree_sitter.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/partial.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

Revert "chore: remove lux-lua related checks in the flake for the time being"
  flake.nix
Owners: @mrcjkb, @teto

refactor: hotswap all FromLua implementations with serde
  lux-lib/src/build/mod.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/dependency.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/platform.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/luarocks/rock_manifest.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/package/version.rs
  lux-lib/src/rockspec/lua_dependency.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: add regression test for `say` rockspec
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1380)
  flake.lock
Owners: @mrcjkb, @teto

fix: run `harper-cli` on README and fix mistakes
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1385)
  flake.lock
Owners: @mrcjkb, @teto

fix: add missing DisplayAsLuaKV implementation for `cargo_extra_args`
  lux-lib/src/lua_rockspec/build/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
