Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

feat(config): fall back to temp directory if $HOME not set
  lux-lib/src/config/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(loader): make it idempotent
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(loader): use package.loaders for LuaJIT
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): allow overwriting installed files from read-only vendor dirs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/utils.rs
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(nix): lux packaging helpers
  .github/workflows/nix-build.yml
  README.md
  flake.nix
  nix/LICENSE
  nix/README.md
  nix/build-lux-application.nix
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/fetch-lux-deps.nix
  nix/import-lux-lock.nix
  nix/lux-loader-setup-hook.sh
  nix/overlay.nix
  nix/tests/build-lux-helpers.nix
  nix/tests/nvim-plugin.nix
  nix/tests/rockspec.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(vendor): support rust-mlua/cargo dependencies
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/fs/mod.rs
  lux-lib/src/fs/sync.rs
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(nix): support rust-mlua/cargo dependencies
  .github/workflows/nix-build.yml
  flake.nix
  nix/README.md
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/fetch-lux-deps.nix
  nix/overlay.nix
  nix/tests/lux-project.nix
  nix/tests/nvim-plugin.nix
  nix/tests/rockspec.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(install-rockspec): update install tree lockfile (#1867)
  lux-cli/src/install_rockspec.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): store source archives instead of unpacking them (#1855)
  lux-lib/src/manifest/metadata_from_vendor_dir.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/reqwest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(fetch): include ignore files when copying file sources (#1852)
  lux-lib/src/fs/tokio.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): specify absolute output path when linking (#1853)
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): allow overwriting installed files from read-only vendor dirs (#1858)
  lux-lib/src/build/mod.rs
  lux-lib/src/build/utils.rs
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(config): fall back to temp directory if $HOME not set (#1857)
  lux-lib/src/config/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): deduplicate packages by name/version (#1856)
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(loader): search package.path and package.cpath for lux trees (#1859)
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(loader): make it idempotent + unbreak for luajit (#1860)
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(nix): lux packaging helpers (#1862)
  .github/workflows/nix-build.yml
  README.md
  flake.nix
  nix/LICENSE
  nix/README.md
  nix/build-lux-application.nix
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/fetch-lux-deps.nix
  nix/import-lux-lock.nix
  nix/lux-loader-setup-hook.sh
  nix/overlay.nix
  nix/tests/build-lux-helpers.nix
  nix/tests/nvim-plugin.nix
  nix/tests/rockspec.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat!: probe lua versions when specifying --nvim flag (#1861)
  lux-cli/src/bin/lx.rs
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(nix): support rust-mlua/cargo dependencies (#1864)
  .github/workflows/nix-build.yml
  flake.nix
  nix/README.md
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/fetch-lux-deps.nix
  nix/overlay.nix
  nix/tests/lux-project.nix
  nix/tests/nvim-plugin.nix
  nix/tests/rockspec.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(vendor): support rust-mlua/cargo dependencies (#1863)
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/fs/mod.rs
  lux-lib/src/fs/sync.rs
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(error-reporting): forward build-workspace-error causes
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(error-reporting): forward build-workspace-error causes (#1878)
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(rockspec): propagate diagnostics
  lux-lib/src/build/luarocks.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(nix): pass `--lua-version jit` when building with luajit
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/overlay.nix
  nix/tests/rockspec.nix
Owners: @mrcjkb, @teto

fix(rockspec): propagate error diagnostics (#1880)
  lux-lib/src/build/luarocks.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(nix): pass `--lua-version jit` when building with luajit (#1881)
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/overlay.nix
  nix/tests/rockspec.nix
Owners: @mrcjkb, @teto

feat: compatibility with luarocks arbitrary versioning
  README.md
  lux-lib/src/package/outdated.rs
  lux-lib/src/package/version.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lx-new): generate source template
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

switch to placeholder
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ignore invalid source urls
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

more general validity check
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

forget thing
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

add comments
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

validate if github repo
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

switch bool flag with source_block: String
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

satisfy clippy
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lx-new): generate source template (#1884)
  lux-cli/src/project/new.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: compatibility with luarocks arbitrary versioning (#1883)
  README.md
  lux-lib/src/package/outdated.rs
  lux-lib/src/package/version.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb
