Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

docs: update README to reflect .luarc generation
  README.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1102)
  flake.lock
Owners: @mrcjkb, @teto

chore(deps): bump bon to 3.8.0
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: 'not a tag' panic when generating rockspec
  lux-lib/src/project/gen.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build: use `nix fmt` for formatting
  CONTRIBUTING.md
  flake.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix: 'not a tag' panic when generating rockspec (#1116)
  lux-lib/src/project/gen.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1114)
  flake.lock
Owners: @mrcjkb, @teto

chore(deps): bump bon to 3.8.0 (#1104)
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: more detailed error messages when failing to fetch sources
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: more detailed error messages when failing to fetch sources (#1121)
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf: clone with depth 1 even if checkout ref is set
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(windows): unset readonly attribute before cleaning .git directory
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: use `tokio::fs::remove_dir_all` in async contexts
  lux-cli/Cargo.toml
  lux-cli/src/purge.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/operations/test.rs
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(windows): unset readonly attribute before cleaning .git directory (#1124)
  lux-cli/Cargo.toml
  lux-cli/src/purge.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/operations/test.rs
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(windows): set cwd to temp directory while linking
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(build): extract `link_c_artifacts` function
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

tests: non-regression for windows compilation artifacts
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/windows): disable exp/lib generation
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(windows): set cwd to temp directory while linking
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(build): extract `link_c_artifacts` function
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/windows): disable exp/lib generation
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(build): extract `link_c_artifacts` function
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/windows): disable exp/lib generation
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

tests: non-regression for windows compilation artifacts
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(windows): set cwd to temp directory while linking
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lint): always disable lux loader
  lux-cli/src/lint.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lint): always disable lux loader (#1136)
  lux-cli/src/lint.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(run_lua): detect if lux-lua is available in a lua wrapper
  lux-lib/src/operations/run_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(run_lua): detect if lux-lua is available in a lua wrapper (#1141)
  lux-lib/src/operations/run_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1135)
  flake.lock
Owners: @mrcjkb, @teto

chore(deps): bump emmylua_check from 0.15.0 to 0.16.0
  Cargo.lock
  lux-cli/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bump emmylua_check from 0.15.0 to 0.16.0 (#1142)
  Cargo.lock
  lux-cli/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1143)
  flake.lock
Owners: @mrcjkb, @teto

feat(cli): infer --lua-version 5.1 from --nvim
  lux-cli/src/bin/lx.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(cli): infer --lua-version 5.1 from --nvim (#1151)
  lux-cli/src/bin/lx.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: add ssh auth callback
  lux-lib/src/git/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): add lua5_4 to all devShells for compilation
  flake.nix
Owners: @mrcjkb, @teto

build(nix): add lua5_4 to all devShells for compilation (#1153)
  flake.nix
Owners: @mrcjkb, @teto

feat: add ssh auth callback to fetch
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(lib): add ssh hostname tests
  lux-lib/src/git/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
