Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(pkgconfig): wrong relative path in prefix entry
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: break apart `LuaVersion::from` into two subfunctions for more fine-grained behaviour control
  lux-cli/src/doc.rs
  lux-cli/src/exec.rs
  lux-cli/src/install.rs
  lux-cli/src/install_lua.rs
  lux-cli/src/list.rs
  lux-cli/src/outdated.rs
  lux-cli/src/pack.rs
  lux-cli/src/pin.rs
  lux-cli/src/purge.rs
  lux-cli/src/run_lua.rs
  lux-cli/src/uninstall.rs
  lux-cli/src/utils/project.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/build_project.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/pack.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/uninstall.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/which/mod.rs
  lux-lib/tests/build.rs
  lux-lib/tests/install.rs
  lux-lib/tests/luarocks_installation.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(pkgconfig): wrong relative path in prefix entry (#1244)
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1238)
  flake.lock
Owners: @mrcjkb, @teto

build: add --locked to cargo aliases
  .cargo/config.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: compilation error due to unused import
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/pack.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/which/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update tree-sitter
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/build/treesitter_parser.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: compilation error due to unused import
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/pack.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/which/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): update tree-sitter
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/build/treesitter_parser.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: allow luarocks and luanox manifests
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/manifest/luanox.rs
  lux-lib/src/manifest/luarocks.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/package/outdated.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/remote_package_db/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: luanox manifests
  lux-cli/src/outdated.rs
  lux-lib/src/manifest/luanox.rs
  lux-lib/src/manifest/luarocks.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/package/outdated.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/remote_package_db/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: break apart `LuarocksRockspec` into `LuanoxRockspec` and `LuarocksRockspec`
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/manifest/luarocks.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/remote_package_source/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: `Manifest` -> `RemotePackageDB`, unify server interactions
  lux-cli/src/add.rs
  lux-cli/src/outdated.rs
  lux-cli/src/search.rs
  lux-cli/src/update.rs
  lux-cli/src/upload.rs
  lux-lib/src/manifest/luanox.rs
  lux-lib/src/manifest/luarocks.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/package/outdated.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lib/src/upload/mod.rs
  lux-lua/src/operations.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: cleanup from major refactor
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/manifest/luanox.rs
  lux-lib/src/manifest/luarocks.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/package/mod.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/remote_package_source/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

wip: attempt to finalize refactor with intermediate classes
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/manifest/luanox.rs
  lux-lib/src/manifest/luarocks.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/remote_package_source/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: support lua 5.5
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/tests/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error message on copy lua module failure
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: improved logic for `source.dir` auto-detection
  lux-lib/src/build/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error message on copy lua module failure (#1261)
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: improved logic for `source.dir` auto-detection (#1262)
  lux-lib/src/build/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: prevent dependency cycles
  .github/workflows/nix-build.yml
  flake.nix
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

docs(contributing): add note about dependency cycles
  CONTRIBUTING.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

tests: enable install_binary_rock test only on x86_64-linux
  lux-lib/src/luarocks/install_binary_rock.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

tests: enable install_binary_rock test only on x86_64-linux (#1181)
  lux-lib/src/luarocks/install_binary_rock.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: `vendor` command
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/pack.rs
  lux-cli/src/vendor.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/build/treesitter_parser.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/package/mod.rs
  lux-lib/tests/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: option to build with vendored directory
  lux-lib/src/config/mod.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(unpack): use `tokio::fs`
  lux-lib/src/operations/unpack.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: better inferring of `source.dir`
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/unpack.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): better inferring of `source.dir` (#1279)
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/unpack.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-cli): make `lx config edit` work with `VISUAL="nvim --cmd 'let g:flatten_wait=1'"`
  Cargo.lock
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-cli): make `lx config edit` work with `VISUAL="nvim --cmd 'let g:flatten_wait=1'"` (#1280)
  Cargo.lock
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update
  Cargo.lock
  lux-cli/Cargo.toml
  lux-lib/Cargo.toml
  xtask/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: split manifest module
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/manifest/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lint)!: don't install luacheck to project tree
  lux-cli/src/lint.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: split manifest module (#1287)
  lux-lib/src/manifest/metadata.rs
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/manifest/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lint)!: don't install luacheck to project tree (#1288)
  lux-cli/src/lint.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd: add luarocks upload workflow for lux-lua
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd: aworkflow permissions
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd: add luarocks upload workflow for lux-lua (#1290)
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(install-rockspec): dependencies not installed
  lux-cli/src/install_rockspec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
