Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

fix(install): propagate build error diagnostics (#1835)
  lux-lib/src/operations/install/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(install): better error diagnostics (#1836)
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(fetch): retry downloading rock sources on failure
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/reqwest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(unpack): don't recurse infinitely on archive with dotless directory (#1838)
  lux-lib/src/operations/unpack.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: `[access-tokens]` config option
  lux-cli/src/add.rs
  lux-cli/src/project/new.rs
  lux-cli/src/update.rs
  lux-cli/src/utils/github_metadata.rs
  lux-lib/src/config/access_tokens.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/git/url.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/reqwest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

tests: mark another integration test as flaky
  lux-lib/tests/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: `[access-tokens]` config option (#1843)
  lux-cli/src/add.rs
  lux-cli/src/project/new.rs
  lux-cli/src/update.rs
  lux-cli/src/utils/github_metadata.rs
  lux-lib/src/config/access_tokens.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/git/url.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/reqwest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(fetch): checkout submodules
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(fetch): checkout submodules (#1848)
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(run): don't treat omitted `args` in `lux.toml` as single arg
  lux-lib/src/operations/run.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(run): don't treat omitted `args` in `lux.toml` as single arg (#1847)
  lux-lib/src/operations/run.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(merge-changelogs): bypass branch protection rule
  .github/workflows/merge-changelogs.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(merge-changelogs): revert bypass branch protection rule
  .github/workflows/merge-changelogs.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: fix failure due to removed fallo tag
  lux-lib/tests/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1851)
  flake.lock
Owners: @mrcjkb, @teto

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): vendor rockspec with binary rock
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): vendor rockspec with binary rock (#1865)
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(install-rockspec): update install tree lockfile
  lux-cli/src/install_rockspec.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): allow overwriting installed files from read-only vendor dirs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/utils.rs
  lux-lib/tests/test.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(loader): use package.loaders for LuaJIT
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(loader): search package.path and package.cpath for lux trees
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: probe lua versions when specifying --nvim flag
  lux-cli/src/bin/lx.rs
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(fetch): include ignore files when copying file sources
  lux-lib/src/fs/tokio.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(config): fall back to temp directory if $HOME not set
  lux-lib/src/config/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): specify absolute output path when linking
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(loader): make it idempotent
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): store source archives instead of unpacking them
  lux-lib/src/manifest/metadata_from_vendor_dir.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/reqwest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): deduplicate packages by name/version
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(nix): lux packaging helpers
  .github/workflows/nix-build.yml
  README.md
  flake.nix
  nix/LICENSE
  nix/README.md
  nix/build-lux-application.nix
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/fetch-lux-deps.nix
  nix/import-lux-lock.nix
  nix/lux-loader-setup-hook.sh
  nix/overlay.nix
  nix/tests/build-lux-helpers.nix
  nix/tests/nvim-plugin.nix
  nix/tests/rockspec.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(vendor): support rust-mlua/cargo dependencies
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/fs/mod.rs
  lux-lib/src/fs/sync.rs
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(nix): support rust-mlua/cargo dependencies
  .github/workflows/nix-build.yml
  flake.nix
  nix/README.md
  nix/build-lux-package.nix
  nix/build-lux-rockspec.nix
  nix/fetch-lux-deps.nix
  nix/overlay.nix
  nix/tests/lux-project.nix
  nix/tests/nvim-plugin.nix
  nix/tests/rockspec.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

chore: update flake.lock (#1869)
  flake.lock
Owners: @mrcjkb, @teto

feat!: probe lua versions when specifying --nvim flag
  lux-cli/src/bin/lx.rs
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(fetch): include ignore files when copying file sources
  lux-lib/src/fs/tokio.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): deduplicate packages by name/version
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): store source archives instead of unpacking them
  lux-lib/src/manifest/metadata_from_vendor_dir.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/reqwest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build): specify absolute output path when linking
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(install-rockspec): update install tree lockfile
  lux-cli/src/install_rockspec.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(loader): search package.path and package.cpath for lux trees
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb
