Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat!: relocate `src/` directory on `--nvim`
  lux-lib/src/config/tree.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(install-project): don't install dependencies as entrypoints
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/install_dependencies.rs
  lux-lib/src/operations/install_project.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(RockLayoutConfig): allow changing `lib`
  lux-lib/src/config/tree.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: create root directory structure
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(install): `--path` flag for installing local projects
  lux-cli/src/install.rs
  nix/build-lux-package.nix
  nix/tests/nvim-plugin.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(lux-lua/loader): work with custom rock layouts
  lux-lib/src/config/tree.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/tree/dist.rs
  lux-lib/src/tree/mod.rs
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf: exclude vcs & vcs-ignored files when hashing & copying sources
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/fs/tokio.rs
  lux-lib/src/hash.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf: exclude vcs-ignored files when hashing & copying sources (#1920)
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/src/fs/tokio.rs
  lux-lib/src/hash.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build-workspace)!: record dependencies as entrypoints in lockfile
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build-workspace)!: record deps as entrypoints in lockfile (#1922)
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/build_workspace.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(xtask-lua): pick up `LUX_LIB_DIR` for generated `.pc` file
  README.md
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(xtask-lua): pick up `LUX_LIB_DIR` for generated `.pc` file (#1941)
  README.md
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: box large error variants
  lux-lib/src/build/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/install_project.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor!: box large error variants (#1943)
  lux-lib/src/build/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/fetch_vendored.rs
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/install_project.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1940)
  flake.lock
Owners: @mrcjkb, @teto

feat!: use symlinks for custom entrypoint layouts instead of physically moving directories
  lux-cli/src/bin/lx.rs
  lux-cli/src/doc.rs
  lux-lib/src/build/backend.rs
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/cmake.rs
  lux-lib/src/build/command.rs
  lux-lib/src/build/luarocks.rs
  lux-lib/src/build/make.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/build/source.rs
  lux-lib/src/build/treesitter_parser.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/fs/mod.rs
  lux-lib/src/fs/sync.rs
  lux-lib/src/fs/unix.rs
  lux-lib/src/fs/windows.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/operations/gen_luarc.rs
  lux-lib/src/operations/pack.rs
  lux-lib/src/operations/pin.rs
  lux-lib/src/operations/uninstall.rs
  lux-lib/src/path.rs
  lux-lib/src/tree/dist.rs
  lux-lib/src/tree/layout.rs
  lux-lib/src/tree/mod.rs
  lux-lib/src/which/mod.rs
  lux-lib/tests/build.rs
  lux-lua/src/config.rs
  lux-lua/src/loader.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(xtask-lua): allow disabling lux-definitions
  xtask-lua/Cargo.toml
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(xtask-lua): allow disabling lux-definitions (#1946)
  xtask-lua/Cargo.toml
  xtask-lua/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: add lua API surface for new rock layout logic
  lux-lib/src/build/command.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/tree/dist.rs
  lux-lib/src/tree/layout.rs
  lux-lib/src/tree/mod.rs
  lux-lua/src/config.rs
  lux-lua/src/lua_impls.rs
  lux-lua/tests/pack.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: add lua API surface for new rock layout logic
  lux-lib/src/build/command.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/tree/dist.rs
  lux-lib/src/tree/layout.rs
  lux-lib/src/tree/mod.rs
  lux-lua/src/config.rs
  lux-lua/src/lua_impls.rs
  lux-lua/tests/pack.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: use symlinks for custom entrypoint layouts instead of physically moving directories
  lux-cli/src/bin/lx.rs
  lux-cli/src/doc.rs
  lux-lib/src/build/backend.rs
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/cmake.rs
  lux-lib/src/build/command.rs
  lux-lib/src/build/luarocks.rs
  lux-lib/src/build/make.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/build/source.rs
  lux-lib/src/build/treesitter_parser.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/config/tree.rs
  lux-lib/src/fs/mod.rs
  lux-lib/src/fs/sync.rs
  lux-lib/src/fs/unix.rs
  lux-lib/src/fs/windows.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/src/operations/gen_luarc.rs
  lux-lib/src/operations/pack.rs
  lux-lib/src/operations/pin.rs
  lux-lib/src/operations/uninstall.rs
  lux-lib/src/path.rs
  lux-lib/src/tree/dist.rs
  lux-lib/src/tree/layout.rs
  lux-lib/src/tree/mod.rs
  lux-lib/src/which/mod.rs
  lux-lib/tests/build.rs
  lux-lua/src/config.rs
  lux-lua/src/loader.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd(binstall): specify features per platform, dropt macos-13
  .github/workflows/cd-binstall.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(luajit): fallback probing of `lux-lua51`/`lux-lua52`
  lux-lib/src/lua_version/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(luajit): fallback probing of `lux-lua51`/`lux-lua52` (#1949)
  lux-lib/src/lua_version/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: bump installed lux version
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: bump installed lux version
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(luarocks): use `--package` flag in correct location
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(luarocks): use `--package` flag in correct location
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(rockspec): recursively search for git repo when generating source in a subdirectory
  lux-lib/src/project/gen.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(rockspec): recursively search for git repo when generating source in a subdirectory (#1954)
  lux-lib/src/project/gen.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(loader): canonicalize filepaths to work in symlinked trees
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(loader): canonicalize filepaths to work in symlinked trees
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: `--preset` flag (closes #1947)
  lux-cli/src/args.rs
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: `--preset` flag (closes #1947)
  lux-cli/src/args.rs
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
