Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

fix(install): quote Lua executable path in bin wrappers (#1194)
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: improve lux loader warning for `lx path` (#1195)
  lux-cli/src/path.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: break apart `LuaVersion::from` into two subfunctions for more fine-grained behaviour control
  lux-cli/src/doc.rs
  lux-cli/src/exec.rs
  lux-cli/src/install.rs
  lux-cli/src/install_lua.rs
  lux-cli/src/list.rs
  lux-cli/src/outdated.rs
  lux-cli/src/pack.rs
  lux-cli/src/pin.rs
  lux-cli/src/purge.rs
  lux-cli/src/run_lua.rs
  lux-cli/src/uninstall.rs
  lux-cli/src/utils/project.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/operations/build_project.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/uninstall.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/which/mod.rs
  lux-lib/tests/build.rs
  lux-lib/tests/install.rs
  lux-lib/tests/luarocks_installation.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update
  Cargo.lock
  lux-cli/Cargo.toml
  lux-lib/src/build/utils.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error messages when failing to parse rockspecs
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update
  Cargo.lock
  lux-cli/Cargo.toml
  lux-lib/src/build/utils.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error messages when failing to parse rockspec
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: fixups after mlua version bump
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: improve version detection when generating rockspec
  flake.lock
  flake.nix
  lux-lib/src/project/gen.rs
Owners: @mrcjkb, @teto, @NTBBloodbath, @vhyrro

refactor: fix clippy warnings
  lux-cli/src/path.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/project/gen.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: fix clippy warnings
  lux-cli/src/path.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/project/gen.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: improve version detection when generating rockspec
  flake.lock
  flake.nix
  lux-lib/src/project/gen.rs
Owners: @mrcjkb, @teto, @NTBBloodbath, @vhyrro

fix(upload): fail if luarocks.org retruns non-OK status on check
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(upload): make `rock_exists` private
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(upload): broken detection of existing package version
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(upload): fail if luarocks.org retruns non-OK status on check
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(upload): make `rock_exists` private
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(upload): broken detection of existing package version
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

docs(changelog): remove duplicate entries
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(project): more robust current git tag detection
  lux-lib/src/project/gen.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(project): more robust current git tag detection (#1211)
  lux-lib/src/project/gen.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd(binstall): statically link gpgme
  .github/workflows/cd-binstall.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd(binstall): statically link gpgme (#1216)
  .github/workflows/cd-binstall.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(config): 'out-of-range value for u64 type' when showing default config
  lux-lib/src/config/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: more robust fallback lua detection logic
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error message on lua bin version mismatch
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(config): 'out-of-range value for u64 type' when showing default config (#1217)
  lux-lib/src/config/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error message on lua bin version mismatch
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: more robust fallback lua detection logic
  lux-lib/src/lua_installation/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update
  Cargo.lock
  lux-cli/Cargo.toml
  lux-lib/src/build/utils.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error messages when failing to parse rockspec
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: fixups after mlua version bump
  lux-lib/src/lua_rockspec/serde_util.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: dependencies update + better error messages when failing to parse rockspec (#1202)
  Cargo.lock
  lux-cli/Cargo.toml
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error message on project lua version mismatch
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: better error message on project lua version mismatch (#1228)
  lux-lib/src/config/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: various error type and message improvements
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1227)
  flake.lock
Owners: @mrcjkb, @teto

feat!: various error type and message improvements (#1229)
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/manifest/mod.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/remote_package_db/mod.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(exec)!: always build project first
  lux-cli/src/exec.rs
  lux-lib/src/operations/exec.rs
  lux-lib/tests/exec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(exec)!: always build project first (#1236)
  lux-cli/src/exec.rs
  lux-lib/src/operations/exec.rs
  lux-lib/tests/exec.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
