Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto

fix: add missing DisplayAsLuaKV implementation for `cargo_extra_args`
  lux-lib/src/lua_rockspec/build/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: convert `DisplayAsLuaKV` into a derive macro
  Cargo.lock
  Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/src/git/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/deploy.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-macros/Cargo.toml
  lux-macros/src/lib.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(luarocks): bump Lux version to 0.26.2
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: convert `DisplayAsLuaKV` into a derive macro
  Cargo.lock
  Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/src/git/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/deploy.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/lua_rockspec/serde_util.rs
  lux-macros/Cargo.toml
  lux-macros/src/lib.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(luarocks): bump Lux version to 0.26.2
  .github/workflows/cd-luarocks.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): remove `lua5_4` from `lux-cli`'s `buildInputs`
  nix/overlay.nix
Owners: @mrcjkb, @teto

build(nix): remove `lua5_4` from `lux-cli`'s `buildInputs` (#1397)
  nix/overlay.nix
Owners: @mrcjkb, @teto

feat: add `lx sync` command
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/sync.rs
  lux-lib/src/operations/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: add `lx sync` command
  lux-cli/src/bin/lx.rs
  lux-cli/src/lib.rs
  lux-cli/src/sync.rs
  lux-lib/src/operations/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(sync): if package files are deleted then redownload the package
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/sync.rs
  lux-lib/tests/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(sync): if package files are deleted then redownload the package
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/sync.rs
  lux-lib/tests/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1398)
  flake.lock
Owners: @mrcjkb, @teto

feat(lux-lua/operations): more lux-lua API surface
  Cargo.lock
  lux-lua/Cargo.toml
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/tests/pack.rs
  lux-lua/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update
  Cargo.lock
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-lua/operations): more lux-lua API surface
  Cargo.lock
  lux-lua/Cargo.toml
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/tests/pack.rs
  lux-lua/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update comment
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-lua/operations): more lux-lua API surface (#1414)
  Cargo.lock
  lux-lua/Cargo.toml
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
  lux-lua/tests/pack.rs
  lux-lua/tests/tree.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: remove From<bool> for BuildBehaviour
  lux-cli/src/utils/install.rs
  lux-lib/src/build/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: remove From<bool> for BuildBehaviour (#1425)
  lux-cli/src/utils/install.rs
  lux-lib/src/build/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update
  Cargo.lock
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update (#1420)
  Cargo.lock
  lux-lib/Cargo.toml
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: reduce `ProjectEditError` enum variant size by boxing
  lux-lib/src/project/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: reduce `ProjectEditError` enum variant size by boxing (#1435)
  lux-lib/src/project/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1421)
  flake.lock
Owners: @mrcjkb, @teto

refactor: move `build::utils::project_files` to `project`
  lux-lib/src/build/utils.rs
  lux-lib/src/project/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build): include `.cargo` directory in project files
  lux-lib/src/project/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build): include `.cargo` directory in project files (#1436)
  lux-lib/src/build/utils.rs
  lux-lib/src/project/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1440)
  flake.lock
Owners: @mrcjkb, @teto

feat: `no_prompt` option
  lux-cli/src/bin/lx.rs
  lux-cli/src/config.rs
  lux-cli/src/doc.rs
  lux-cli/src/install.rs
  lux-cli/src/lib.rs
  lux-cli/src/project/new.rs
  lux-cli/src/purge.rs
  lux-cli/src/uninstall.rs
  lux-cli/src/utils/install.rs
  lux-lib/src/config/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: `no_prompt` option (#1441)
  lux-cli/src/bin/lx.rs
  lux-cli/src/config.rs
  lux-cli/src/doc.rs
  lux-cli/src/install.rs
  lux-cli/src/lib.rs
  lux-cli/src/project/new.rs
  lux-cli/src/purge.rs
  lux-cli/src/uninstall.rs
  lux-cli/src/utils/install.rs
  lux-lib/src/config/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update
  Cargo.lock
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore(deps): bulk update (#1446)
  Cargo.lock
  lux-cli/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lua/config): nvim entrypoint
  lux-lua/src/config.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(ci): properly parse release plz changelogs
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lua/config): nvim entrypoint (#1447)
  lux-lua/src/config.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: properly parse release plz changelogs (#1448)
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: give lux-lua its own separate release version
  .github/workflows/cd.yml
  lux-lua/Cargo.toml
  release-plz.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci(integration): re-enable luajit tests
  .github/workflows/integration-tests.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): fix darwin builds
  .github/workflows/nix-build.yml
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

test(integration/install): add case for toml-edit
  lux-lib/tests/install.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb
