Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat: support detached workspace trees
  lux-cli/src/bin/lx.rs
  lux-cli/src/config.rs
  lux-cli/src/lib.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lsp)!: allow setting port file via `LUX_LSP_PORT_FILE`
  lux-lib/src/config/mod.rs
  lux-lib/src/progress/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): use `env.CARGO_PROFILE` to set profile
  nix/overlay.nix
Owners: @mrcjkb, @teto

build(nix): use `env.CARGO_PROFILE` to set profile (#1778)
  nix/overlay.nix
Owners: @mrcjkb, @teto

feat(error-reporting): improved diagnostics
  lux-cli/src/args.rs
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/doc.rs
  lux-cli/src/install_lua.rs
  lux-cli/src/install_rockspec.rs
  lux-cli/src/pin.rs
  lux-cli/src/remove.rs
  lux-cli/src/shell.rs
  lux-cli/src/uninstall.rs
  lux-cli/src/update.rs
  lux-cli/src/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: workspace-local configs
  lux-cli/src/bin/lx.rs
  lux-cli/src/config.rs
  lux-cli/src/lib.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

cd: don't try to upload definitions
  .github/workflows/cd.yml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: re-enable lux-luajit build on darwin
  .github/workflows/nix-build.yml
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

build(nix): use `stdenv.hostPlatform.emulator` in postInstall
  nix/overlay.nix
Owners: @mrcjkb, @teto

feat(error-reporting): improved diagnostics
  lux-cli/src/args.rs
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/doc.rs
  lux-cli/src/install_lua.rs
  lux-cli/src/install_rockspec.rs
  lux-cli/src/pin.rs
  lux-cli/src/remove.rs
  lux-cli/src/shell.rs
  lux-cli/src/uninstall.rs
  lux-cli/src/update.rs
  lux-cli/src/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(nix): use `stdenv.hostPlatform.emulator` in postInstall
  nix/overlay.nix
Owners: @mrcjkb, @teto

feat: workspace-local configs
  lux-cli/src/bin/lx.rs
  lux-cli/src/config.rs
  lux-cli/src/lib.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/workspace/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf!: reuse HTTP(S) clients
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/reqwest.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf: offload hashing & archive unpack from async runtime
  lux-lib/src/build/mod.rs
  lux-lib/src/hash.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/operations/unpack.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf(install)!: parallelise install and dependency resolution
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf(fetch): cache sources
  lux-lib/src/fs/sync.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(debug/toolchains): compiler detection
  lux-lib/src/toolchains.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(debug/toolchains): compiler detection (#1789)
  lux-lib/src/toolchains.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf(install)!: parallelise install and dependency resolution
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf(fetch): cache sources
  lux-lib/src/fs/sync.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf: offload hashing & archive unpack from async runtime
  lux-lib/src/build/mod.rs
  lux-lib/src/hash.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/operations/unpack.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

perf!: reuse HTTP(S) clients
  lux-lib/src/manifest/metadata_from_server.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/reqwest.rs
  lux-lib/src/upload/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: normalize `workspace_tree` naming and add function to lux-lua
  lux-lib/src/config/mod.rs
  lux-lib/src/workspace/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor: normalize `workspace_tree` naming and add function to lux-lua
  lux-lib/src/config/mod.rs
  lux-lib/src/workspace/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

revert(fetch): cache sources
  lux-lib/src/fs/sync.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(install): extract helper functions, improve readability
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

revert(fetch): cache sources (#1795)
  lux-lib/src/fs/sync.rs
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(install): extract helper functions, improve readability
  lux-lib/src/operations/install/mod.rs
  lux-lib/src/operations/resolve.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua): remove accidental fidget.nvim dependency
  lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: mark integration tests as flaky
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/tests/build.rs
  lux-lib/tests/build_lua.rs
  lux-lib/tests/build_workspace.rs
  lux-lib/tests/dist_bin.rs
  lux-lib/tests/exec.rs
  lux-lib/tests/install.rs
  lux-lib/tests/luarocks_installation.rs
  lux-lib/tests/sync.rs
  lux-lib/tests/test.rs
  lux-lib/tests/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lockfile): idempotent entry addition
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/install/mod.rs
  lux-lib/tests/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lockfile): idempotent entry addition (#1799)
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/install/mod.rs
  lux-lib/tests/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: mark integration tests as flaky (#1800)
  Cargo.lock
  lux-lib/Cargo.toml
  lux-lib/tests/build.rs
  lux-lib/tests/build_lua.rs
  lux-lib/tests/build_workspace.rs
  lux-lib/tests/dist_bin.rs
  lux-lib/tests/exec.rs
  lux-lib/tests/install.rs
  lux-lib/tests/luarocks_installation.rs
  lux-lib/tests/sync.rs
  lux-lib/tests/test.rs
  lux-lib/tests/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build): `release` and `dev` profiles
  lux-cli/src/lib.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/config/build.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/operations/dist_bin.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build): `runner` config to wrap build commands in a sandbox
  README.md
  lux-lib/src/build/cmake.rs
  lux-lib/src/build/command.rs
  lux-lib/src/build/make.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/config/build.rs
  lux-lib/src/config/mod.rs
  lux-lib/src/luarocks/luarocks_installation.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1808)
  flake.lock
Owners: @mrcjkb, @teto

fix(lux-lua): remove accidental fidget.nvim dependency (#1798)
  lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-lua): expand API surface
  lux-lib/src/operations/update.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(lux-lua): expand API surface
  lux-lib/src/operations/update.rs
  lux-lua/src/lua_impls.rs
  lux-lua/src/operations.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(dist/bin): resolve native modules via rpath
  lux-cli/src/dist/mod.rs
  lux-lib/src/operations/dist_bin.rs
  lux-lib/tests/dist_bin.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
