Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1890)
  flake.lock
Owners: @mrcjkb, @teto

build(lux-lsp): enable vendored feature in lux.toml
  lux-lsp/Cargo.toml
  lux-lsp/lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux-lsp): enable vendored feature in lux.toml (#1891)
  lux-lsp/Cargo.toml
  lux-lsp/lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build): `rust-binary` build backend
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/build/source.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_binary.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/vendor.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lockfile): add luarocks build backends to build dependendies
  lux-lib/resources/test/sample-projects/luarocks-build-backend/lux.toml
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/tests/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(build): `rust-binary` build backend (#1894)
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/build/source.rs
  lux-lib/src/build/utils.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_binary.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/operations/install_rockspec.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/vendor.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lockfile): add luarocks build backends to build dependendies (#1895)
  lux-lib/resources/test/sample-projects/luarocks-build-backend/lux.toml
  lux-lib/src/operations/resolve.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/operations/vendor.rs
  lux-lib/tests/sync.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/rust-binary): auto-detect binaries
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/rust-binary): auto-detect binaries (#1898)
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/build/utils.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(nix): import lux.lock for local packages' vendored dependencies
  nix/build-lux-package.nix
Owners: @mrcjkb, @teto

revert(nix): import lux.lock for local packages' vendored dependencies
  nix/build-lux-package.nix
Owners: @mrcjkb, @teto

fix(generate-rockspec): properly generate `source.branch`
  lux-lib/src/git/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/project/gen.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/tests/install.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(nix): add rust dependencies when vendoring rust packages
  nix/fetch-lux-deps.nix
Owners: @mrcjkb, @teto

fix(generate-rockspec): properly generate `source.branch` (#1899)
  lux-lib/src/git/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/project/gen.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/tests/install.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): no such file or directory error when vendoring cargo deps
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(fetch): properly checkout custom branches
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(vendor): no such file or directory error when vendoring cargo deps (#1900)
  lux-lib/src/build/mod.rs
  lux-lib/src/operations/vendor.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(fetch): properly checkout custom branches (#1901)
  lux-lib/src/operations/fetch.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/rust-binary): build from package path when offline
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_binary.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(build/rust-binary): build from package path when offline (#1902)
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_binary.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix!(build/rust-binary): require `package`, not `binary` field
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_binary.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix!(build/rust-binary): require `package`, not `binary` field (#1904)
  lux-lib/src/build/rust_binary.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/build/rust_binary.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: merge per-package changelogs into root
  CHANGELOG.md
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux): split into multi-project workspace
  .github/workflows/cd-luarocks.yml
  lux-lsp/lux.toml
  lux-lua/lux.toml
  lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(toml): `[project.root_dir]` for local project builds
  lux-lib/src/project/gen.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

build(lux): split into multi-project workspace
  .github/workflows/cd-luarocks.yml
  lux-lsp/lux.toml
  lux-lua/lux.toml
  lux.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(toml): `[project.root_dir]` for local project builds
  lux-lib/src/project/gen.rs
  lux-lib/src/project/mod.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: relocate `src/` directory on `--nvim`
  lux-lib/src/config/tree.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua/loader): work with custom rock layouts
  lux-lib/src/config/tree.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/tree/dist.rs
  lux-lib/src/tree/mod.rs
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(RockLayoutConfig): allow changing `lib`
  lux-lib/src/config/tree.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: create root directory structure
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix: create root directory structure
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: relocate `src/` directory on `--nvim`
  lux-lib/src/config/tree.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(RockLayoutConfig): allow changing `lib`
  lux-lib/src/config/tree.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lux-lua/loader): work with custom rock layouts
  lux-lib/src/config/tree.rs
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/tree/dist.rs
  lux-lib/src/tree/mod.rs
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(install-project): don't install dependencies as entrypoints
  lux-lib/src/operations/build_workspace.rs
  lux-lib/src/operations/install_dependencies.rs
  lux-lib/src/operations/install_project.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(install): `--path` flag for installing local projects
  lux-cli/src/install.rs
  nix/build-lux-package.nix
  nix/tests/nvim-plugin.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
