Repository lumen-oss/lux, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(cli): add `--orphans` flag to `lx list`
  lux-cli/src/list.rs
  lux-lib/src/lockfile/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(cli): add `--removable` flag to `lx list` (closes #274)
  lux-cli/src/list.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test: replace `LUX_SKIP_IMPURE_TESTS` with an `impure_tests` feature (closes #1154)
  .cargo/config.toml
  CONTRIBUTING.md
  lux-cli/Cargo.toml
  lux-cli/src/add.rs
  lux-lib/Cargo.toml
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/sync.rs
  lux-lua/Cargo.toml
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

ci: run flaky integration tests in CI
  .github/workflows/integration-tests.yml
  CONTRIBUTING.md
  Cargo.lock
  lux-cli/Cargo.toml
  lux-cli/src/add.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/sync.rs
  lux-lua/Cargo.toml
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: disallow conflicting entrypoints
  lux-cli/src/utils/install.rs
  lux-lib/resources/test/lux.lock
  lux-lib/resources/test/sample-projects/busted-with-lockfile/lux.lock
  lux-lib/resources/test/sample-projects/lockfile-missing-deps/lux.lock
  lux-lib/resources/test/sample-tree/5.1/lux.lock
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lockfile/snapshots/lux_lib__lockfile__tests__add_rocks.snap
  lux-lib/src/lockfile/snapshots/lux_lib__lockfile__tests__parse_lockfile.snap
  lux-lib/src/operations/install/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(loader): properly load packages from same module, search all stack levels, add fix for luajit hot-compilation
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(nix): migrate fallo fixture lockfile to v2
  nix/tests/build-lux-helpers.nix
Owners: @mrcjkb, @teto

test: replace `LUX_SKIP_IMPURE_TESTS` with an `impure_tests` feature (closes #1154)
  .cargo/config.toml
  CONTRIBUTING.md
  lux-cli/Cargo.toml
  lux-cli/src/add.rs
  lux-lib/Cargo.toml
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/sync.rs
  lux-lua/Cargo.toml
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
  nix/overlay.nix
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

ci: run flaky integration tests in CI
  .github/workflows/integration-tests.yml
  CONTRIBUTING.md
  Cargo.lock
  lux-cli/Cargo.toml
  lux-cli/src/add.rs
  lux-lib/src/git/utils.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/luarocks/install_binary_rock.rs
  lux-lib/src/operations/sync.rs
  lux-lua/Cargo.toml
  lux-lua/src/operations.rs
  lux-lua/src/project.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(cli): add `--removable` flag to `lx list` (closes #274)
  lux-cli/src/list.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(cli): add `--orphans` flag to `lx list`
  lux-cli/src/list.rs
  lux-lib/src/lockfile/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat!: disallow conflicting entrypoints
  lux-cli/src/utils/install.rs
  lux-lib/resources/test/lux.lock
  lux-lib/resources/test/sample-projects/busted-with-lockfile/lux.lock
  lux-lib/resources/test/sample-projects/lockfile-missing-deps/lux.lock
  lux-lib/resources/test/sample-tree/5.1/lux.lock
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/lockfile/snapshots/lux_lib__lockfile__tests__add_rocks.snap
  lux-lib/src/lockfile/snapshots/lux_lib__lockfile__tests__parse_lockfile.snap
  lux-lib/src/operations/install/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(nix): migrate fallo fixture lockfile to v2
  nix/tests/build-lux-helpers.nix
Owners: @mrcjkb, @teto

fix(loader): properly load packages from same module, search all stack levels, add fix for luajit hot-compilation
  lux-lua/src/loader.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update flake.lock (#1957)
  flake.lock
Owners: @mrcjkb, @teto

feat: support semver prerelease versions
  lux-lib/src/package/version.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: support semver prerelease versions (#1976)
  lux-lib/src/package/version.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: periodically update tiniest pin
  .github/workflows/update-tiniest.yml
  flake.nix
  scripts/update-tiniest.sh
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(tree): Rojo layout preset for Luau packages
  lux-lib/src/package/version.rs
  lux-lib/src/tree/layout.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

refactor(tree)!: rename layout hooks to apply_layout/remove_layout
  lux-lib/src/tree/layout.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(test): tiniest test runner for luau
  lux-lib/resources/test/sample-projects/hello-luau/tests/greeting.spec.luau
  lux-lib/src/lua_rockspec/test_spec.rs
  lux-lib/src/operations/test.rs
  lux-lib/src/operations/test/tiniest.rs
  lux-lib/tests/test_luau.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: initial Luau support
  README.md
  flake.nix
  lux-cli/src/check.rs
  lux-cli/src/dist/bin.rs
  lux-cli/src/dist/flat_archive.rs
  lux-cli/src/format.rs
  lux-cli/src/install_lua.rs
  lux-cli/src/lint.rs
  lux-cli/src/path.rs
  lux-cli/src/shell.rs
  lux-cli/src/utils/luau_analyze.rs
  lux-cli/src/utils/mod.rs
  lux-lib/resources/test/sample-projects/hello-luau/lux.toml
  lux-lib/resources/test/sample-projects/hello-luau/src/greeting.luau
  lux-lib/resources/test/sample-projects/hello-luau/src/main.luau
  lux-lib/resources/test/sample-tree/5.1/fdd927c4d96d1063ce66246cfd5ecb1939a8f8e8425f29428894b43586fb72cd-neorg@8.8.1-1/src/extra/init.luau
  lux-lib/resources/test/sample-tree/5.1/fdd927c4d96d1063ce66246cfd5ecb1939a8f8e8425f29428894b43586fb72cd-neorg@8.8.1-1/src/hello.luau
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/mod.rs
  lux-lib/src/build/rust_mlua.rs
  lux-lib/src/lua_installation/mod.rs
  lux-lib/src/lua_rockspec/build/builtin.rs
  lux-lib/src/lua_rockspec/build/mod.rs
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/lua_version/mod.rs
  lux-lib/src/luarocks/luarocks_installation.rs
  lux-lib/src/operations/build_lua.rs
  lux-lib/src/operations/exec.rs
  lux-lib/src/operations/gen_luaurc.rs
  lux-lib/src/operations/mod.rs
  lux-lib/src/operations/run.rs
  lux-lib/src/operations/run_lua.rs
  lux-lib/src/operations/sync.rs
  lux-lib/src/package/version.rs
  lux-lib/src/project/project_toml.rs
  lux-lib/src/rockspec/mod.rs
  lux-lib/src/which/mod.rs
  lux-lib/tests/build_lua.rs
  lux-lib/tests/build_luau.rs
  lux-lib/tests/run_luau.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

test(luau): end-to-end rojo package layout test
  flake.nix
  lux-lib/resources/test/sample-projects/hello-rojo/default.project.json
  lux-lib/resources/test/sample-projects/hello-rojo/foo/lux.toml
  lux-lib/resources/test/sample-projects/hello-rojo/foo/src/init.lua
  lux-lib/resources/test/sample-projects/hello-rojo/lux.toml
  lux-lib/resources/test/sample-projects/hello-rojo/src/init.luau
  lux-lib/tests/rojo.rs
Owners: @mrcjkb, @teto, @NTBBloodbath, @vhyrro

feat: parse wally.toml manifests
  lux-lib/Cargo.toml
  lux-lib/src/package/mod.rs
  lux-lib/src/package/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: periodically update luau version pin
  .github/workflows/update-luau.yml
  flake.nix
  scripts/update-luau.sh
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(build): transpile luau sources when building for lua
  Cargo.lock
  Cargo.toml
  lux-lib/Cargo.toml
  lux-lib/src/build/builtin.rs
  lux-lib/src/build/luau/analyze.rs
  lux-lib/src/build/luau/mod.rs
  lux-lib/src/build/luau/require.rs
  lux-lib/src/build/luau/shims.rs
  lux-lib/src/build/mod.rs
  lux-workspace-hack/Cargo.toml
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

ci: periodically update lua pins
  .github/workflows/update-lua.yml
  flake.nix
  scripts/update-lua.sh
Owners: @NTBBloodbath, @vhyrro, @mrcjkb, @teto

feat(tree)!: allow custom rock layouts to cover dependencies
  lux-lib/src/tree/layout.rs
  lux-lib/src/tree/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

chore: update lua
  lux-lib/src/operations/build_lua.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat(cli): --preset rojo
  lux-cli/src/args.rs
  lux-cli/src/lib.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: parse wally dependencies in lux.toml
  lux-lib/src/lua_rockspec/rock_source.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/package/wally.rs
  lux-lib/src/project/project_toml.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

test(luau): end-to-end wally dependency build
  lux-lib/resources/test/sample-projects/wally-signal/lux.toml
  lux-lib/resources/test/sample-projects/wally-signal/src/main.luau
  lux-lib/tests/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: clone and cache wally package registries
  lux-lib/src/config/mod.rs
  lux-lib/src/package/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: resolve wally dependencies from registries
  lux-lib/src/lua_rockspec/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/fetch.rs
  lux-lib/src/operations/resolve.rs
  lux-lib/src/package/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: read wally package index
  lux-lib/src/package/wally.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

feat: add wally remote package source
  lux-lib/src/lockfile/mod.rs
  lux-lib/src/operations/download.rs
  lux-lib/src/operations/update.rs
  lux-lib/src/remote_package_source/mod.rs
  lux-lua/src/lua_impls.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(doc): don't open non-plaintext files in editor
  Cargo.lock
  lux-cli/Cargo.toml
  lux-cli/src/doc.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(doc): don't open non-plaintext files in editor (#1984)
  Cargo.lock
  lux-cli/Cargo.toml
  lux-cli/src/doc.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(rock_manifest): support empty dir entries
  lux-lib/src/luarocks/rock_manifest.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

fix(lockfile): name the stale install tree in version errors
  lux-lib/src/lockfile/mod.rs
Owners: @NTBBloodbath, @vhyrro, @mrcjkb

.github/CODEOWNERS:

# Any change to files in the root directory, any later match takes precedence.
* @NTBBloodbath @vhyrro @mrcjkb

# Documentation
*.md @NTBBloodbath @vhyrro @mrcjkb

# Rust source files
rocks-bin/ @NTBBloodbath @vhyrro @mrcjkb
rocks-lib/ @NTBBloodbath @vhyrro @mrcjkb

# Nix
nix/ @mrcjkb @teto
flake.* @mrcjkb @teto
